# Application Settings
AGENCY_NAME='City Name'
LIAISONS_URL=
STAFF_URL=
LIST_OF_ADMINS=
DEFAULT_MAIL_SENDER='openrecords@records.nyc.gov'
DEFAULT_OWNER_EMAIL=
DEFAULT_OWNER_REASON=
DAYS_AFTER_EXTENSION=14
DAYS_TO_FULFILL=10
DAYS_UNTIL_OVERDUE=5

# Flask Settings
APPLICATION_URL=http://127.0.0.1:8080/
ENVIRONMENT=LOCAL
SECRET_KEY=str('change this before deploying to production')
DATABASE_URL=postgresql://testuser:testpwd@localhost/recordtrac

# Flask Mail Settings
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=
MAIL_USE_TLS=
MAIL_PORT=
DEV_EMAIL=

# Upload Settings
UPLOAD_DOCS=True
UPLOAD_FOLDER=
HOST_URL=

# ReCaptcha
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=

# LDAP Authentication
LDAP_SERVER
LDAP_PORT
LDAP_USE_TLS
LDAP_CERT_PATH
LDAP_SA_BIND_DN
LDAP_SA_PASSWORD
LDAP_BASE_DN