ENVIRONMENT=LOCAL
APPLICATION_URL=http://127.0.0.1:5000/
HOST_URL='https://www.scribd.com/doc/'
SQLALCHEMY_DATABASE_URI=postgresql://localhost/recordtrac
ADMIN_PASSWORD=admin
DEFAULT_OWNER_EMAIL=citystaff@city.gov
SECRET_KEY=NotSoSecretKey