ENVIRONMENT='LOCAL'
APPLICATION_URL=http://127.0.0.1:5000/
SCRIBD_API_KEY='You would need to replace this with a Scribd API key'
SCRIBD_API_SECRET='You would need to replace this with a Scribd API secret'
HOST_URL='https://www.scribd.com/doc/'
DEFAULT_OWNER_EMAIL='citystaff@city.gov'
MAIL_USERNAME='YourSendgridusername'
MAIL_PASSWORD='YourSendgridpassword'
DEFAULT_MAIL_SENDER='emailusedforsendgrid@domain.com'
SECRET_KEY='flaskappsecretkey'
SQLALCHEMY_DATABASE_URI=postgresql://localhost/publicrecords
ADMIN_PASSWORD='AppWidePassword'