/* custom css for about.html */

#about_image {
	margin-top: 2%;
	margin-bottom: 2%;
}

img[alt="City of Oakland"] {
	margin-left: 5%;
}

#about_image i {
	margin-left: 5%;
	margin-top: 20%;
	line-height: 0.2em;
}

.bottombreathe {
	padding-bottom: 5%;
}
