/* custom css for all_requests.html and child templates */

#allrequestTable tbody tr:hover, #allrequestTable tbody tr.highlighted {
	background-color: #ECFFB3;
	cursor: pointer;
}

table.dataTable thead th.status {
	padding-left: 1px !important;
	padding-right: 1px !important;
	width: 2% !important;
}

table.dataTable tbody td.status {
	padding-left: 1px !important;
	padding-right: 1px !important;
	width: 2% !important;

	text-align: center;
	vertical-align: middle;
}

table.dataTable tbody td.closed {
	background-color: rgba(0,0,0,0.6);
}

table.dataTable tbody td.open {
	background-color: rgba(0,0,255,0.6);
}

table.dataTable tbody td.soon {
	background-color: rgba(255, 173, 0, 0.6);
}

table.dataTable tbody td.overdue {
	background-color: rgba(255,0,0,0.6);
}

.intro_text {
	margin-bottom: 2%;
}

/* allows the "Request new record" button appear inline with Explore header */
h3 {
	display: inline;
}
