/* custom css for all_requests.html and child templates */

/* remove styling from request text link */
	td a {
		color: #333;
	}
	td a:hover {
		text-decoration: none;
		color: #333;
	}

/* hide table caption */
	caption {
		display: none;
	}

/* breathing room for filter count */
	small.count {
		margin-left: 1em;
	}

/* bottom margin for table */
	#allrequestTable_wrapper {
		margin-bottom: 5em;
	}
	#viewSubmit {
		/*margin-bottom: 5em;*/
	}

/* request table # of records left margin adjustment */
	#allrequestTable_length label {
	/*margin: 0 0 0 1.75em;*/
		margin-left: 1.75em;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	#allrequestTable_filter label {
		margin-bottom: 1em;
		margin-top: 0.5em;
		font-weight: bold;
		font-size: 17.5px;
	}
	#allrequestTable_info {
	margin-left: 1.75em;
	}

/* indent table length dropdown */
	select[name="allrequestTable_length"] {
		margin-left: 0.25em;
	}

/* change counter to green background */
	span.badge {
		background-color: #17b292;
	}

/* increase size of intro text */
	p.intro_text {
		font-size: 16px;
	}

/* bottom margin under title area */
	#exploreTitle {
		margin-bottom: 1em;
	}

/* adds breathing room for filter form submit button */
	#viewSubmit {
		margin-top: 2em;
	}

/* removes bottom margin for filter form */
	#filterPublic {
		margin-bottom: 0px;
	}

td.status {
	color: white;
}

#allrequestTable tbody tr:hover, #allrequestTable tbody tr.highlighted {
	background-color: rgba(23,178,146, .3);
	cursor: pointer;
}

table.dataTable thead th.status {
	padding-left: 1px !important;
	padding-right: 1px !important;
	width: 2% !important;
}

table.dataTable tbody td.status {
	padding-left: 1px !important;
	padding-right: 1px !important;
	width: 2% !important;

	text-align: center;
	vertical-align: middle;
}

table.dataTable tbody td.closed {
	background-color: #2a2b2b;
}

table.dataTable tbody td.open {
	background-color: #2688AD;
}

table.dataTable tbody td.soon {
	background-color: #FB991B;
}

table.dataTable tbody td.overdue {
	background-color: #CA1A1A;
}

.intro_text {
	margin-bottom: 2%;
}

/* allows the "Request new record" button appear inline with Explore header */
h3 {
	display: inline;
}
