/* custom css for base.html and child templates */


/* scoot navbar start to the right */
	a.brand {
		margin-left: 5% !important;
	}

/* navbar layout tweaks due to insertion of Oakland tree logo */
	/* tree logo */
	img[alt="City of Oakland tree"] {
		margin-top: -5px;
		margin-right: 5px;
	}
	/* tabs */
	ul.nav.tabs {
		margin-top: 5px;
	}
	/* login/logout area */
	ul.nav.pull-right {
		margin-top: 5px;
	}

/* brand orange beta tag in navbar */
	#beta {
		color: #FB991B;
	}

/* placeholder title green */
	a.brand {
		color: #17B292 !important;
	}

/* some bootstrap stuff to create responsive container */
	.container {
		margin-left: 0;
	}

	.navbar-inner {	
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	}

	.footer {
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	}

#rerouteForm {
	margin: 0 0 0px;
}


/* request table # of records left margin adjustment */
	#allrequestTable_length label {
	margin: 0 0 0 1.25em;
	}

	#allrequestTable_info {
	margin: 0 0 0 1.75em;
	}

/* logout button */
	input.btn-link {
		text-shadow: none;
		color: #999;
		font-size: small;
	}

	input.btn-link:hover {
		color: #17B292;
		text-decoration: none;
	}

/* name in navbar */
	p.navbar-text {
		color: #eee !important;
	}






/* validation style */
/*label.valid {
  width: 24px;
  height: 24px;
  background: url(../images/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}*/
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* tighter paragraphs in contact hover, request date */
.tight_paragraph {
	margin-bottom: 0;
}

/* new request form field explanations */
/*.request_field_explanation {
	margin-left: 5%;
	vertical-align: top;
	display: inline-block;
	max-width: 600px;
	color: #606060  ;
}*/

/* give the logout button more space */
#logout_form {
	margin-left: 10%;
}

/* all infotips appear as superscript */
.icon-info-sign {
	vertical-align: super;
}

/* tooltip text, left-aligned */
 .tooltip-inner {
	text-align: left ;
}

/* all popovers fit size to content */
.helpPopover {
	width: 200px !important;
}

/* pull history popover back into view */
/*#historyPopover {
	margin-right: 20%;
}*/

/* gives the responses a bit more white space between */
.response {
	padding-top: 2%;
}

/* gives the close button a bit of breathing room */
#closeRequest {
	margin-bottom: 10%;
}

/* gives the create request button a bit of breathing room */
#requestButton {
	margin-bottom: 20%;
}

/* ----- Sticky Footer ----- by Ryan Fait http://ryanfait.com/sticky-footer/ ----- */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 50px; /* .push must be the same height as .footer */
}

