/* custom css for case.html and child templates */

.case-show-all {
  background-color: #bdbdbd;
  text-align: center;
  margin: 0 -19px -19px -19px;
  padding: 3px 0;
  border-radius: 0 0 3px 3px;
}

.case-show-all:hover {
  background-color: #cdcdcd;
  cursor: hand;
  cursor: pointer;
}

h3 {
	line-height: 20px !important;
}

#status-text {
  margin-top: 5px;
  margin-bottom: 8px;
}

div.request-status-well {
	margin-bottom: 10px;
}

#responses-container {
  margin-top: 3em;
}

div.well {
  margin-bottom: 1em;
}

form {
  margin-bottom: 0;
}

#no-records {
  margin-bottom: 5em;
  margin-top: 0.5em;
}

/* online document link icon */
     i[class|="icon-external-link"] {
          vertical-align: super;
          font-size:10px;
     }

/* move the response text closer to the response icon */
     div.span9 {margin-left: 0px !important;}

/* make history popover wider */
     .historyPopover {

     }

/* contact info link */
     span[class|="contactinfoPopover"] {color: #666666;}
     span[class|="timestampPopover"] {color: #666666;}

/* info hover link */
     .contactinfoPopover span {color: #3a87ad;}
     .timestampPopover span {color: #3a87ad;}

/* public note section indent */
     #public_note {margin-left: -5%;}