/* custom css for case.html and child templates */

/* "requester" gray */
     /*span.requester {
          font-style: italic;
     }*/

/* gives the responses a bit more white space between */
.response {
  padding-top: 2%;
}

/* bottom margin for page */
     #responses-container, #participant-container {
          margin-bottom: 5em;
     }

/* follow button area */
     #whatisfollow {
          display: inline;
          margin-left: 0.25em;
     }
     div.input-append {
          display: inline;
     }
     div.follow {
          margin-bottom: 1em;
     }
     i.icon-question.icon-large {
          color: #666;
     }
     div.row-fluid.follow {
      margin-top: 1em;
     }

/* PoC and Helper area */
     h4.case_participantRow {
          margin-bottom: 0.25em;
     }

     div.participantRow-history {
          margin-top: 0.5em;
          margin-bottom: 1em;
     }
     /*div.participantRow {
          padding: 5px;
     }*/

/* change hover cursor for history popover */
     a.historyPopover:hover {
          cursor: text;
          text-decoration: none;
     }

/* deemphasize text and carets for request area truncation */
     div.case-show-all {
          color: #666;
     }

/* truncation bar for request area */
     .case-show-all {
       background-color: #bdbdbd;
       text-align: center;
       margin: 0 -19px -19px -19px;
       padding: 3px 0;
       border-radius: 0 0 3px 3px;
     }
     .case-show-all:hover {
       background-color: #cdcdcd;
       cursor: hand;
       cursor: pointer;
     }

/* general case page layout tweaks*/
     h3 {
       line-height: 20px !important;
     }

     #status-text {
       margin-top: 5px;
       margin-bottom: 8px;
     }

     div.request-status-well {
     	margin-bottom: 10px;
      padding: 0;
     }

     #responses-container {
       margin-top: 1rem;
     }

     div.well {
       margin-bottom: 1em;
     }

     form {
       margin-bottom: 0;
     }

     #no-records {
       margin-bottom: 5em;
       margin-top: 0.5em;
     }

/* _public_note.html */
     div.button-margin {
        margin-bottom: 0.5em !important;
     }

/* online document link icon */
     i[class|="icon-external-link"] {
          vertical-align: super;
          font-size:10px;
     }

/* move the response text closer to the response icon */
     div.span9 {margin-left: 0px !important;}

/* make history popover wider */
     /*.historyPopover {

     }*/

/* contact info link */
     span[class|="contactinfoPopover"] {color: #666666;}
     span[class|="timestampPopover"] {color: #666666;}

/* info hover link */
     .contactinfoPopover span {color: #3a87ad;}
     .timestampPopover span {color: #3a87ad;}

/* public note section indent */
     #public_note {margin-left: -5%;}

#requesterInfoButton .shown .caret {
    border-top-color: transparent;
    border-bottom: 4px solid #000000;
    position: relative;
    top: -3px;
}

#response-actions-container {
    margin-bottom: 0;
}

#deny_request_option #close_request_option {
    display: inline;
    width: 1rem;
}

a {
    color: #333333;
}

.nav-pills>li>a {
    background-color: #0a5796;
    color: #FFFFFF;
}


.nav-pills>li>a:hover {
    background-color: #0A5999;
    over-flow: hidden;
    color: #FFFFFF;
    height: 0px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #0B60B1;
    color: #FFFFFF;
}

.in_progress {
    background-color: forestgreen;
}