/* custom.datatables.css */

#allrequestTable tbody tr:hover, #allrequestTable tbody tr.highlighted {
	background-color: #ECFFB3;
	cursor: pointer;
}
/*#allrequestTable tbody tr.even:hover, #allrequestTable tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}*/

