/* custom css for landing.html and child templates */

/* brand area */
	img[alt="City of Oakland"] {
		/*display: inline-block;
		margin-top: -1.5em;
		margin-right: 1em;*/
		float: right;
		margin-top: 2.25em;
		margin-bottom: 1em;
	}
	/*h3 {
		margin-top: 1em;
	}*/

/* expore, request, track content */
	p.text-center.text-title {
		font-size: 18px;
		margin-bottom: 0.25em;
	}
	p.text-center.text-body {
		font-size: 16px;
	}

h1 {
	color: #17b292;
	margin-top: 1em;
	/*display: inline-block;*/
}

img[alt="request,track,explore"] {
	margin-top: 1em;
	/* aligns image with content */
	padding-left: 35px;
}

/*div.span4 {
	margin-top: 1em;
}*/

p.text-title {
	margin-bottom: 0px;
}

#startemup {
	margin-top: 1em;
	margin-bottom: 3em;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#request-count {
	background-color: #17b292;
}

i.icon-arrow-right {
	padding-left: 2px;
	font-size: 12pt;
}

