/* custom css for landing.html and child templates */

h1 {
	color: #17b292;
	margin-top: 1em;
}

img[alt="request,track,explore"] {
	margin-top: 1em;
}

div.span4 {
	margin-top: 1em;
}

p.text-title {
	margin-bottom: 0px;
}

#startemup {
	margin-top: 1em;
	margin-bottom: 3em;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#request-count {
	background-color: #17b292;
}

i.icon-arrow-right {
	padding-left: 2px;
	font-size: 12pt;
}

