/* custom css for manage_request_city.html and child templates */

/* _ask_question.html */
     #control-question {
          margin-bottom: 0.5em;
     }

/* PoC and Helper area */
     h4.partcipantRow-title {
          display: inline;
          color: #666666;
     }
     div.participantRow:hover {
          text-decoration: none;
     }
     h4.partcipantRow-title:hover {
          color: #00bb94;
          /*background-color: rgba(23,178,146, .3);*/
     }
     #reroutePopover:hover, #notifyPopover:hover{
          text-decoration: none;
     }
     div.participantRow-helpers {
          margin-top: 0.5em;
     }
     div.participantRow-history {
          margin-top: 0.5em;
          margin-bottom: 1em;
     }



/* Top Reponses (request area) */
     .response.qa, .response.note {
       padding: 7px 5px;
       background-color: #fff;
       margin-bottom: 7px;
       border-radius: 3px;
       box-shadow: inset 0px 0px 5px #ccc;
     }
     .qa .qa-question {
       padding: 2px;
       background-color: rgba(176, 233, 255, 0.61);
     }
     .qa .qa-answer {
       padding: 2px;
     }

/* Bottom Responses*/
     .response-wrapper {
       border-bottom: 1px solid #ccc;
       margin-bottom: 10px;
       padding-top: 10px;
     }
     .response-wrapper:last-child {
       border-bottom: none;
     }
     .less, .more {
       color: #17B292;
     }
     .less:hover, .more:hover {
       cursor: hand;
       cursor: pointer;
     }

/* Request status*/
     .request-status-well {
       text-align: center;
       color: #fff;
       padding: 0;
     }

     .request-status-well.open {
       background-color: #2688AD;
     }

     .request-status-well.soon {
       background-color: #FB991B;
     }

     .request-status-well.overdue {
       background-color: #CA1A1A;
     }

     .request-status-well.closed {
       background-color: #2a2b2b;
     }

