#not_public_record{
  /*border: 1px solid red;*/
}

p.lead {
	margin-bottom: 5px;
	margin-top: 30px;
}

div.spacer {
	margin-bottom: 10px;
}

button[type] {
	padding-left: 2em;
	padding-right: 2em;
}

p.example {
font-size: 17.5px;
font-weight: 300;
line-height: 1.25;
}