/* CHOOSE EITHER NORMAL OR FIXED SIDEBAR, NOT BOTH */

/* normal sidebar */
.r_sidebar {
	margin-top: 4.25em;
	margin-right: 1em;
}


/* fixed right sidebar */
/*.r_sidebar-fixed {
    position:fixed;
    top:17.25%;
    width:19%;
 }

 @media (max-width: 767px) {
     .r_sidebar-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .r_sidbar-fixed {
        position:static;
        width: auto;
     }
 }*/