/* custom css for social media buttons in case.html */

#floating_media {
     position: fixed;
     left: 5px;
     top: 12.5em;
     display: block;
     width: 15px;
     line-height: 2.5em;
 }


i.icon-twitter, i.icon-facebook {
	color: #666;
}

i.icon-twitter:hover, i.icon-facebook:hover {
	color: #17B292;
	text-decoration: none;
}