/*custom.css*/

.container {
	margin-left: 0;
}

.navbar-inner {	
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.footer {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#rerouteForm {
	margin: 0 0 0px;
}

/* request text format */
/*#request_text {
	white-space: pre;
}*/

/* validation style */
label.valid {
  width: 24px;
  height: 24px;
  background: url(images/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* tighter paragraphs in contact hover, request date */
.tight_paragraph {
	margin-bottom: 0;
}

/* new request form field explanations */
.request_field_explanation {
	margin-left: 5%;
	vertical-align: top;
	display: inline-block;
	max-width: 600px;
	color: #606060  ;
}

/* give the logout button more space */
#logout_form {
	margin-left: 10%;
}

/* pull answer form left */
/*#answer .control-label {
	width: 80px;
	margin-left: -30px;
}

#answer .controls {
	margin-left: 70px;
}*/

/* all infotips appear as superscript */
.icon-info-sign {
	vertical-align: super;
}

/* tooltip text, left-aligned */
 .tooltip-inner {
	text-align: left ;
}

/* all popovers fit size to content */
.popover {
	max-width: 1200px !important;
	width: auto;
}


/* pull history popover back into view */
/*#historyPopover {
	margin-right: 20%;
}*/


/* gives the responses a bit more white space between */
.response {
	padding-top: 2%;
}

/* gives the close button a bit of breathing room */
#closeRequest {
	margin-bottom: 10%;
}

/* ----- Sticky Footer ----- by Ryan Fait http://ryanfait.com/sticky-footer/ ----- */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 80px; /* .push must be the same height as .footer */
}

/* all requests table truncation */

table#allrequestTable tbody tr td div{
/*width:160px;*/
max-height:4.5em;
overflow:hidden;
}


/*span.wrapandhide {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 30em;
}*/

/*table#allrequestTable { width:100%;table-layout:fixed; }
table#allrequestTable tr { height:1em;  }
table#allrequestTable td { overflow:hidden;white-space:nowrap;  }*/

/*table#allrequestTable tbody tr  {
	height: 70px;
	overflow: hidden;
	white-space: pre;
}

table#allrequestTable tbody td { 
	overflow: hidden;
	white-space: nowrap;  
}*/