/*custom.css*/

.container {
	margin-left: 0;
}

.navbar-inner {	
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.footer {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#rerouteForm {
	margin: 0 0 0px;
}


/* request text format */
/*#request_text {
	white-space: pre;
}*/

i[class|="icon-external-link"] {
	vertical-align: super;
	font-size:10px;
}

/* contact info link */
span[class|="contactinfoPopover"] {color: #666666;}

/* contact info hover link */
.contactinfoPopover span {color: #3a87ad;}

/* public note section indent */
#public_note {margin-left: 5%;}

/* feedback form */
#floating_link {
     position: fixed;
     left: -50px;
     top: 200px;
     /*display: block;*/
     width: 100px;
     height: 50px;
     background-color: purple;
     overflow: hidden;
     border-radius: 5px;
     color: white;
     writing-mode: bt-lr; 
	-webkit-transform: rotate(270deg);	
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	line-height : 70px;
	transition: left 0.25s;
	-webkit-transition: left 0.2s;
}

#floating_link:hover {
	text-decoration:none;
	left: -45px;
}

#floating_link i {color:white;}

/* validation style */
label.valid {
  width: 24px;
  height: 24px;
  background: url(images/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* tighter paragraphs in contact hover, request date */
.tight_paragraph {
	margin-bottom: 0;
}

/* new request form field explanations */
.request_field_explanation {
	margin-left: 5%;
	vertical-align: top;
	display: inline-block;
	max-width: 600px;
	color: #606060  ;
}

/* give the logout button more space */
#logout_form {
	margin-left: 10%;
}

/* all infotips appear as superscript */
.icon-info-sign {
	vertical-align: super;
}

/* tooltip text, left-aligned */
 .tooltip-inner {
	text-align: left ;
}

/* all popovers fit size to content */
.popover {
	max-width: 1200px !important;
	width: auto;
}

/* pull history popover back into view */
/*#historyPopover {
	margin-right: 20%;
}*/

/* gives the responses a bit more white space between */
.response {
	padding-top: 2%;
}

/* gives the close button a bit of breathing room */
#closeRequest {
	margin-bottom: 10%;
}

/* ----- Sticky Footer ----- by Ryan Fait http://ryanfait.com/sticky-footer/ ----- */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 80px; /* .push must be the same height as .footer */
}

