#request-container {
  border: 1px solid red;
}

#routed-to-container {
  border: 1px solid green;
}

#responses-container {
  border: 1px solid yellow;
}

#actions-container {
  border: 1px solid purple;
}
