#request-container {
  border: 1px solid red;
}

#routed-to-container {
  border: 1px solid green;
}

#responses-container {
  border: 1px solid yellow;
}

#actions-container {
  border: 1px solid purple;
}



.response.qa, .response.note {
  padding: 7px 5px;
  background-color: #fff;
  margin-bottom: 7px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 5px #ccc;
}

.qa .qa-question {
  padding: 2px;
  background-color: rgba(176, 233, 255, 0.61);
}

.qa .qa-answer {
  padding: 2px;
  /*background-color: rgba(176, 233, 255, 0.61);*/
}

/* Bottom Responses*/
.response-wrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-top: 10px;  
}
.response-wrapper:last-child {
  border-bottom: none;
}
.less, .more {
  color: rgb(82, 127, 223);
}
.less:hover, .more:hover {
  cursor: hand;
  cursor: pointer;
}
