{% extends "base.html" %}

{% block header %}
    <div class="navbar navbar-fixed-top">
        <div class="header">
            <div class="container">
                <img src="{{ url_for('static', filename='img/header_long.jpg') }}">
            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div class="span10 offset1">
        <!-- 	<div class="container page">
              <div class="content">
                <div class="page-header"> -->
        <h3>Page Not Found</h3>

        <p>The page you requested was not found. Please click <a href="{{ url_for('index') }}">here </a>to return home.</p>
        <!-- 	    </div>
              </div>
            </div> -->
    </div>
{% endblock container %}