<!-- Ask_question button that expands into a form -->
<!-- currently found at the top of the manage_request_city view -->

<div class="rw-container">
  <div class="rw-controller-container">
    <div class="rw-controller-btns-container">
      <div class="rw-btn-wrap" data-target="1">
        <div class="rw-btn"><i class="icon-question"></i></div>
        <div class="rw-btn-expand">Ask a Questions</div>
      </div>
    </div>
  </div>

  <div class="rw-actions-container">
    <div class="target-for" data-target-for="1">

      <form name="ask_question" class="form-horizontal" id="question" method="post" action="/add_a_qa" autocomplete="on">
          <fieldset>
            <div class="row-fluid">
                <h4>Ask a question about this request</h4>
              <div>

                <div class="control-group">
                  <label class="control-label">Question <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Ask a question" | explain_action }}"><small><i class="icon-info-sign"></i></small></span></label>
                  <div class="row-fluid">
                    <div class="controls">
                        <input type="hidden" name="request_id" value="{{ req.id }}"/>
                        <input id="questionTextarea" type="text" name="question_text" rows="3" cols="20" placeholder="Ask the requester a question" required/>
                      <button id="askQuestion" class="btn btn-primary" type="submit">Ask</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </fieldset>
        </form>

    </div>
  </div>
</div>


