
  <div class="request-status-well well well-small r_sidebar_banner r_sidebar-fixed hidden-phone hidden-tablet {{ status }}">
    <h2>
      {% if status == 'closed' %}<i class="icon-archive"></i>{% endif%}
      {{ status }}
    </h2>
  </div>

  {% if (user_id and status == 'closed') %}
    <div class="r_sidebar_banner r_sidebar-fixed hidden-phone hidden-tablet">
      <form name="reopen_request" class="form-inline" id="question" method="post" action="/update_a_request_reopen">
        <input type="hidden" name="request_id" value="{{ req.id }}"/>
        <button id="reopenRequest" class="btn btn-primary btn-block" type="submit">Reopen request</button>
      </form>
    </div>
  {% endif %}
