<div id="reroutePopover-head" class="hide">Reassign to: <a class="close" href="#">&times;</a></div>
<div id="reroutePopover-content" class="hide">
    <form id="rerouteForm" class="form-inline" method="post" action="/update_a_owner">
        <!-- my form -->
        <div class="control-group">
            <div class="controls">
                <input type="hidden" name="request_id" value="{{ req.id }}"/>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <!--input id="rerouteEmail" type="email" name="owner_email" placeholder="name@email.com" data-provide="typeahead" autocomplete="off" required /-->
                <select class="span10" id="rerouteEmail" name="owner_email">
                    {% for data in department_data %}
                        <option value="{{ data.email }}">{{ data.name }}</option>
                    {% endfor %}
                </select>
                <button id="rerouteButton" class="btn" type="submit"><i class="icon-envelope"> </i></button>
            </div>
        </div>
    </form>

    <div><h4 class="participantRow-title" style="color: #333333;">Assignee</h4></div>
    <form id="rerouteForm" class="form-inline" method="post" action="/update_a_owner">
        <!-- my form -->
        <div class="control-group">
            <div class="controls">
                <input type="hidden" name="request_id" value="{{ req.id }}"/>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <!--input id="rerouteEmail" type="email" name="owner_email" placeholder="name@email.com" data-provide="typeahead" autocomplete="off" required /-->
                <select class="span10" id="rerouteEmail" name="owner_email">
                    {% for user in users %}
                        {{ user.email }}
                        <option value="{{ user.email }}">{{ user.alias }}</option>
                    {% endfor %}
                </select>
                <input id="rerouteReason" type="text" name="owner_reason" placeholder="Say why." required/>
                <button id="rerouteButton" class="btn" type="submit"><i class="icon-envelope"> </i></button>
            </div>
        </div>
    </form>
</div>
