<div class="rw-container">
  
  <div class="rw-controller-container">

    <div class="rw-controller-btns-container">

      <div class="rw-btn-wrap active">
        <div class="rw-btn" data-target="R">R</div><div class="rw-btn-expand">Record</div>
      </div>

      <div class="rw-btn-wrap">
        <div class="rw-btn" data-target="L">L</div><div class="rw-btn-expand">Link</div>
      </div>

      <div class="rw-btn-wrap">
        <div class="rw-btn" data-target="N">N</div><div class="rw-btn-expand">Note</div>
      </div>

      <div class="rw-btn-wrap">
        <div class="rw-btn" data-target="Y">Y</div><div class="rw-btn-expand">expanded text</div>
      </div>

    </div>

  </div>

  <!-- here reside the data-target-for="X"  -->
  <div class="rw-actions-container">
    <div class="target-for" data-target-for="R">Record form:</div>
    <div class="target-for" data-target-for="L">Link form:</div>
    <div class="target-for" data-target-for="N">Note form:</div>
    <div class="target-for" data-target-for="Y">YYYYYY</div>
  </div>

</div>
