{% if req.solid_status() == 'open' %}
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills" role="tablist">
                <li>
                    <a href="#acknowledge_request" role="tab" data-toggle="tab">
                        <small>Acknowledge Request</small>
                    </a>
                </li>
                <li>
                    <a href="#acknowledge_and_grant_request" role="tab" data-toggle="tab">
                        <small>Grant Request</small>
                    </a>
                </li>
                <li>
                    <a href="#acknowledge_and_deny_request" role="tab" data-toggle="tab">
                        <small>Deny Request</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="tab-content">
            <div class="tab-pane" id="acknowledge_request">
                <form name="note" class="form-horizontal" id="AcknowledgeNote" method="post"
                    action="/update_a_request_acknowledge">
                    <input type="hidden" name="request_id" value="{{ req.id }}"/>
                    <fieldset>
                        <h4>Estimated Duration</h4>
                        <select class="span12" id="acknowledge_status" name="acknowledge_status">
                            <option value="Acknowledged - 15 days">Acknowledged - 15 days</option>
                            <option value="Acknowledged - 30 days">Acknowledged - 30 days</option>
                            <option value="Acknowledged - 60 days">Acknowledged - 60 days</option>
                            <option value="Acknowledged - 90 days">Acknowledged - 90 days</option>
                            <option value="Acknowledged - 120 days">Acknowledged - 120 days</option>
                        </select>
                        <button id="rerouteButton" class="btn input-block-level" data-toggle="modal"
                        data-target="#confirm-submit" type="submit"><i class="icon-envelope"> </i>
                        Acknowledge Request
                        </button>
                    </fieldset>
                </form>
            </div>
            <div class="tab-pane" id="acknowledge_and_grant_request">
                <form name="input_doc" style="margin-top: 2em;" class="form-horizontal" id="submitRecord" method="post"
                    action="/add_a_record_and_close" autocomplete="on" enctype="multipart/form-data">
                    <input type="hidden" name="request_id" value="{{ req.id }}"/>
                    <fieldset>
                        <div class="row-fluid">
                            <!-- name of record -->
                            <div class="control-group">
                                <label class="control-label" for="recordSummary">Name of record</label>
                                <div class="controls">
                                    <textarea class="input-xxlarge" name="record_description" type="text"
                                    id="recordSummary"
                                    placeholder="Add a short explanation of the record" required/></textarea>
                                </div>
                            </div>
                            <!-- upload a record -->
                            <div class="control-group">
                                <label class="control-label">Upload a record <span id="recordTooltip" rel="tooltip"
                                    data-toggle="tooltip"
                                    data-placement="right" title=""
                                    data-original-title="{{'Upload a document'| explain_action}}">
                                    <small><i class="icon-info-sign"></i></small>
                                </span></label>
                                <div class="row-fluid">
                                    <div class="controls">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn btn-default btn-file">
                                                <span class="fileinput-new">Select file</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="record">
                                            </span>
                                            <span class="fileinput-filename"></span>
                                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput"
                                            style="float: none">&times;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- link to a record -->
                            <div class="control-group">
                                <label class="control-label">Or provide a link to a record <span rel="tooltip"
                                    data-toggle="tooltip"
                                    data-placement="right"
                                    title=""
                                    data-original-title="{{'Add a link' |
                                    explain_action}}">
                                    <small><i class="icon-info-sign"></i></small>
                                </span></label>
                                <div class="row-fluid">
                                    <div class="controls">
                                        <input type="text" name="link_url" id="inputUrl" class="input-xxlarge"/>
                                        <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
                                    </div>
                                </div>
                            </div>
                            <!-- offline record -->
                            <div class="control-group button-margin">
                                <label class="control-label">Or indicate how the record can be accessed offline <span
                                    id="offlinedocTooltip" rel="tooltip" data-toggle="tooltip" data-placement="right"
                                    title="" data-original-title="{{'Describe hard copies' | explain_action}}">
                                    <small><i class="icon-info-sign"></i></small>
                                </span></label>
                                <div class="row-fluid">
                                    <div class="controls">
                                        <textarea class="input-xxlarge" id="offlineDoc_textarea" name="record_access"
                                        placeholder="How can the requester get this record?  Ex. 'Sent via mail on a CD', 'Print out awaiting requester at City Clerk desk'"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- submission -->
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary" data-toggle="modal"
                                    data-target="#confirm-submit" id="addRecordButton">Grant Request
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tab-pane" id="acknowledge_and_deny_request">
                <form name="close" id="closeRequest" method="post" action="/close">
                    <input type="hidden" name="request_id" value="{{ req.id }}"/>
                    <fieldset>
                        <div class="row-fluid">
                            <div class="control-group">
                                <label class="control-label">Reason <span rel="tooltip" data-toggle="tooltip"
                                    data-placement="right" title=""
                                    data-original-title="{{'Close a request'|
                                    explain_action }}">
                                    <small><i class="icon-info-sign"></i></small>
                                </span></label>
                                <div class="controls">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Not a public records request' |  explain_action('What')}}">Not
                                            a public records request</input>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Record Does Not Exist' | explain_action('What')}}">Do not have
                                            this record</input>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Can Not Release - Personal Records' | explain_action('What')}}">Can
                                            Not Release - Personal Records</input>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Can Not Release - Ongoing Litigation' | explain_action('What')}}">Can
                                            Not Release - Ongoing Litigation</input>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Can Not Release - Investigative Records' | explain_action('What')}}">Can
                                            Not Release - Investigative Records</input>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Can Not Release - Attorney-Client Privilege' | explain_action('What')}}">Can
                                            Not Release - Attorney-Client Privilege</input>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Contact Another Government Agency' | explain_action('What')}}">Contact
                                            Another Government Agency</input>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Please visit NYC.gov' | explain_action('What')}}">Please visit
                                            NYC.gov</input>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Please visit nycopendata' | explain_action('What')}}">Please
                                            visit NYC OpenData</input>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="deny_request_option"
                                            value="{{'Please visit NYC Government Publications Portal' | explain_action('What')}}">Please
                                            visit NYC Government Publications Portal</input>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button id="closeButton" data-toggle="modal" data-target="#confirm-submit"
                                    type="submit"
                                    class="btn btn-inverse">Close this request
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% elif req.solid_status() == 'closed' %}
    Help Me
{% else %}
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills" role="tablist">
                <li><a href="#add_record" role="tab" data-toggle="tab">
                    <small>Add a Record</small>
                </a></li>
                <li><a href="#add_note" role="tab" data-toggle="tab">
                    <small>Internal Note</small>
                </a></li>
                <li><a href="#generate_pdf" role="tab" data-toggle="tab">
                    <small>Generate a Letter</small>
                </a></li>
                <li><a href="#close_request" role="tab" data-toggle="tab">
                    <small>Close Request</small>
                </a></li>
                <li><a href="#add_helper" role="tab" data-toggle="tab">
                    <small>Add a Helper</small>
                </a></li>
                <li><a href="#change_assignee" role="tab" data-toggle="tab">
                    <small>Change Assignee</small>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="tab-content">
            <div class="tab-pane" id="add_record">Add a Record Form</div>
            <div class="tab-pane" id="add_note">Add an Internal Note Form</div>
            <div class="tab-pane" id="generate_pdf">Generate Standard Response Letter Form</div>
            <div class="tab-pane" id="close_request">Close Request Form</div>
        </div>
    </div>
{% endif %}