{% extends "base.html" %}
{% block content %}
<html>
<h1>Public Records Request Portal</h1>
<br>
<br>
<p>
This public records portal will help the City of Oakland manage its public records requests. It also allows members of the public to quickly submit public records requests, search through previous requests, and better understand how they are fulfilled. 
</p>
<p>
Currently city employees have the ability to do the following through the web application: 
<ul>
<li>Upload a document or post a link to fulfill a public records request</li>
<li>Explain the records requester if they need to pick up hard copies of a document and provide them with details about where and when they need to pick up the record</li>
<li>Ask a question to the requester to better understand what he or she needs</li>
<li>Provide reasons about why it may take additional time to answer a request</li>
<li>Indicate a records request has been fulfilled</li>
</ul>
</p>
<p>
Anytime a city employee sends a message or uploads a document, the information can immediately be viewed by members of the public. An email will also automatically be sent to the individual who submitted the request with a status update. 
</p>
<p>
In the next couple of months, the web application will be improved as features are added and changed. Your feedback is valuable. Please send any questions and/or concerns to oakland@codeforamerica.org. 
</p>
</html>
{% endblock content %}