{% extends "base.html" %}
{% set active_page="about" %}
{% block title %}{{ title }}About - OpenRecords{% endblock title %}

{% block container %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/about.css') }}">
    <div class="row-fluid">
        <div class="span8">

            <div class="row-fluid">
                <div class="bottombreathe">
                    <h1 id="about">About OpenRECORDS</h1>

                    <p class="lead">OpenRECORDS is a quick, simple way for you to submit a public records request to
                        a New York City Agency.</p>

                    <p><strong>Most information on this site is public.</strong> Your contact information, and most personal
                        information that may be contained in government documents will not be made available to the
                        public.</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="what">What is OpenRECORDS?</h4>

                    <p>OpenRECORDS is a quick, simple way for individuals to submit Freedom of Information Law (FOIL)
                        requests to a NYC agency. The web application also allows government employees
                        to manage, respond to, and fulfill incoming requests. By displaying all records requests and
                        responsive documents, members of the public may find what they need without having to create a
                        new public record request.</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="documents">Why aren't all documents uploaded on OpenRECORDS?</h4>

                    <p>City agencies will not publicly release records or information that violates
                        your right to privacy. City agencies will not make records available that have
                        been exempted from disclosure by Federal, State, or Local statute, including records that would
                        impair contract awards or collective bargainaing negotiations, are trade secrets, are compiled
                        for law enforcement services and if disclosed would interfere with investigations or judicial
                        proceedings, deprive a person to a fair trial, identify a confidential source, reveal
                        investigative techniques, or endanger a person's life.</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="why">History of OpenRECORDS (Previously RecordTrac)</h4>

                    <div class="row-fluid">
                        <div id="about_image" class="span10">
                            <img src="{{ url_for('static', filename = 'images/nycseal.png') }}"
                                 alt="City of New York Seal" width="100" height="100"/>
                            <!-- <i class="icon-plus icon-3x text-center muted"></i> -->
                            <!-- <img src="{{ url_for('static', filename='images/CfA_logo.png') }}" width="20%" alt="Code for America"/> -->
                        </div>
                    </div>

                    <p>The 2013 Code for America fellows created RecordTrac with the City of Oakland in response to public complaints that they didn’t understand what happened after they submitted their
                        requests and it took too long to get the records they needed.</p>

                    <p>By making everything completely transparent, you can know your request is fulfilled.</p>
                </div>

                <div class="footerbreathe">
                    <h4 id="why">To learn more about how to...</h4>
                    <ul>
                        <li><a href="https://github.com/codeforamerica/recordtrac/blob/master/docs/redeploy.md">Create
                            a RecordTrac for your own agency</a></li>
                        <li>
                            <a href="https://github.com/codeforamerica/recordtrac/#technical-details">Review
                                the technical details</a></li>
                        <li>
                            <a href="/tutorial/01">Learn
                                to create a request</a></li>
                        {% if current_user.is_authenticated %}
                            <li>
                                <a href="/city/tutorial/01">Learn
                                to manage requests</a></li>
                        {% endif %}
                    </ul>
                    <p>For more information, please see the <a
                            href="https://github.com/codeforamerica/recordtrac#recordtrac">full
                        documentation</a> for the RecordTrac application.</p>
                </div>

            </div>
        </div>
    </div>
{% endblock container %}


