{% extends 'admin/master.html' %}

{% block main_menu %}
    {{ super() }}
    <ul class="nav pull-right">
      <li>
        <a href="/export" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Right click and save file{% endtrans %}&hellip;">
            <i class="icon-download"></i> {% trans %}Export Records{% endtrans %}</a>
      </li>
    </ul>
{% endblock %}

{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}">

    <h3>{% trans %}Administrative Controls{% endtrans %}</h3>
    <p class="intro_text">
        {% trans %}RecordTrac’s administrative controls allow users to permanently delete records, requests, and notes from the database. Because of this, administrative access is restricted to a small number of users.{% endtrans %}
    </p>

    <h5>{% trans %}Manage content{% endtrans %}</h5>
	    <p class="manage-hotlinks"><a href="/admin/requestview/">{% trans %}Edit or remove a request{% endtrans %}</a></p>
	    <p class="manage-hotlinks"><a href="/admin/recordview/">{% trans %}Remove a record{% endtrans %}</a></p>
        <p class="manage-hotlinks"><a href="/admin/noteview/">{% trans %}Edit or remove a note{% endtrans %}</a></p>
        <p class="manage-hotlinks"><a href="/admin/qaview/">{% trans %}Edit or remove questions and answers{% endtrans %}</a></p>

    <h5>{% trans %}Best Practices to Consider{% endtrans %}</h5>
        <p>{% trans %}Content should only be removed or edited if sensitive or confidential information is revealed. If this happens, you should:{% endtrans %}
        <ul>
        <li>{% trans %}Save a copy of the original message. (This will have to be done outside of RecordTrac. There is no way to hide a message from public view.){% endtrans %}</li>
        <li>{% trans %}Edit the message to indicate why it needs to be removed.{% endtrans %}</li>
        <li>{% trans %}Notify the requester why their post or answer was removed.{% endtrans %}</li>
        <li>{% trans %}Provide guidance to the requester on how they can get the record they need.{% endtrans %}</li>
        </ul>
        </p>

        <p>{% trans %}If a city staff member enters information incorrectly, simply add a note explaining the mistake.{% endtrans %}</p>

        <p>{% trans %}If a member of the public enters incorrect information, the requester (or a city staff member) can add a note correcting the mistake.{% endtrans %}</p>

        <p>{% trans %}Sometimes it’s necessary to create a new request. If a new request must be created, we suggest you do the following:{% endtrans %}
        <ul>
        <li>{% trans %}Create a new request with the proper information.{% endtrans %}</li>
        <li>{% trans %}In the old request, include a note explaining what is wrong with it and a link to the new request.{% endtrans %}</li>
        <li>{% trans %}Close out the old request.{% endtrans %}</li>
        <li>{% trans %}In the new request, reference and/or provide a link to the old request.{% endtrans %}</li>
        </ul>
        </p>
        <p>{% trans %}Although RecordTrac has a spam filter, it may receive spam. When confronted with spam, close the request with a note indicating why it is not a public records request.{% endtrans %}</p>
{% endblock %}
