{% extends 'admin/master.html' %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}">

    <h3>Administrative Controls</h3>
    <p class="intro_text">
        RecordTrac’s administrative controls allows users to permanently delete or records, requests, and notes from the database. Because of this, administrative access is restricted to a small number of users. 
    </p>  

    <h5>Manage content</h5>
	    <p class="manage-hotlinks"><a href="/admin/requestview/">Edit or remove a request</a></p>
	    <p class="manage-hotlinks"><a href="/admin/recordview/">Remove a record</a></p>
        <p class="manage-hotlinks"><a href="/admin/noteview/">Edit or remove a note</a></p>
        <p class="manage-hotlinks"><a href="/admin/qaview/">Edit or remove questions and answers</a></p>

    <h5>Best Practices to Consider</h5>
        <p>Content  should only be removed or edited if sensitive or confidential information is revealed. If this happens, you should:
        <ul>
        <li>Save a copy of the original message. (This will have to be done outside of RecordTrac. There is no way to hide a message from public view.)</li> 
        <li>Edit the message to indicate why it needs to be removed.</li> 
        <li>Notify the requester why their post or answer was removed.</li>
        <li>Provide guidance to the requester on how they can get the record they need.</li> 
        </ul>
        </p>

        <p>If a city staff member enters information incorrectly, simply add a note explaining the mistake.</p> 

        <p>If a member of the public enters incorrect information,  the requester (or a city staff member) can add a note correcting  the mistake.</p> 

        <p>Sometimes it’s necessary to create a new request. If a new request must be created, we suggest you do the following:
        <ul>
        <li>Create a new request with the proper information.</li>
        <li>In the old request, include a note explaining what is wrong with it and a link to the new request.</li>
        <li>Close out the old request.</li>
        <li>In the new request, reference and/or provide a link to the old request.</li> 
        </ul>
        </p>
        <p>Although RecordTrac has a spam filter, every once in a while it may receive spam. When confronted with spam, close the request with a note indicating why it is not a public records request.  If there is a large amount of spam requests, it is appropriate to simply remove the spam.</p> 

        <p>If a record needs to be removed. It not only has to be deleted on RecordTrac, it has to be removed from Scribd as well.</p> 

{% endblock %}