<!-- This template is show all cases in the system. -->

{% extends "base.html" %}

{% block title %}
  {{ title }} &#45; RecordTrac
{% endblock title %}

{% block custom_css_links %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/all_requests.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/all_requests_noresults.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.min.css') }}">
{% endblock custom_css_links %}

{% block custom_script_links %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/requests.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.bootstrap-select.js') }}"></script>
{% endblock custom_script_links %}

{% block container %}
  <div class="row-fluid">
    <div class="span8 offset1">

      <div id="exploreTitle" class="row-fluid">
        <h3>Explore <span class="badge"> {{total_requests_count}}</span> requests and counting</h3>
        <a href="/new" class="btn btn-primary btn-large pull-right">Request new record</a>
      </div>

      <div class="row-fluid">
        <p class="intro_text">RecordTrac makes every public records request available to the public, including messages or documents uploaded by city staff. Search through current and past requests. You may find what you need!</p>
      </div>

      <div>
        {% block datatable %}
          <script type="text/template" id="search_field_template">
            <div class="row">
              <div class="span6 offset8">
                <div id="search">
                  <label>Search</label>
                  <input type="text" placeholder="I'd like to find...">
                </div>
              </div>
            </div>
          </script>
          <div id="search_field_container"></div>

          <script type="text/template" id="search_results_template">
            <table id="requests">
              <thead>
                <tr>
                  <th class="status"></th>
                  <th>ID</th>
                  <th>Received</th>
                  <th>Request</th>
                  <th>Department</th>
                  <th>Point of Contact</th>
                </tr>
              </thead>
              <tbody>
                <% _.each( requests, function( request ) { %>                
                  <tr>
                    <td class="status <%= request.solid_status %>">
                      <% if ( request.solid_status === "closed" ) { %>
                        <i class="icon-archive icon-light"></i>
                      <% } %>
                    </td>
                    <td><%= request.id %></td>
                    <td><%= moment(request.date_created).format("MMM Do, YYYY") %></td>
                    <td>
                      <a href="/request/<%= request.id %>">
                        <% if ( request.text.length > 140 ) { %>
                          <%= request.text.substring(0, 140).trim() + "..." %>
                        <% } else { %>
                          <%= request.text %>
                        <% } %>
                      </a>
                    </td>
                    <td><%= request.department %></td>                    
                    <td><%= request.contact_name %></td>
                  </tr>
                <% } ); %>
              </tbody>
            </table>
            <div class="row">
              <div class="span6">
                <div class="dataTables_info" id="allrequestTable_info">
                  
                </div>
              </div>
              <div class="span6">
                <div class="pagination">
                  <ul>
                    {# <li class="prev"><a href="javascript:void(0)">Prev</a></li> #}
                    <li class="next"><a href="javascript:void(0)">Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </script>
          <div id="search_results_container">
            <i class="fa fa-spinner"></i>
            <p>Loading...</p>
          </div>
        {% endblock datatable %}
      </div>
    </div>

    <div class="span3">
      {% block sidebar %}
        <script type="text/template" id="sidebar_template">                                         
          <div id="filterbox" class="well r_sidebar r_sidebar-fixed">
            <h4>View</h4>
            <form name="filterPublic" class="form-horizontal" id="filterPublic" method="get" action="/requests">
              <fieldset>
                <label class="checkbox">
                  <input type="checkbox"
                         title="open_requests_checkbox"
                         value="open"
                         name="status"
                         id="status" 
                         <% if ( !is_closed ) { %>
                           checked
                         <% } %> >
                  Open requests
                </label>               
              </fieldset>
            </form>
          </div>
        </script>
        <div id="sidebar_container"></div>
      {% endblock sidebar %}
    </div>
  </div>
{% endblock container%}
