{% extends "base.html" %}

{% block title %}
  {{ title }} &#45; RecordTrac
{% endblock title %}

{% block custom_css_links %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/all_requests.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/all_requests_noresults.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.min.css') 
  }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui-1.10.4.custom.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui.css') }}">
{% endblock custom_css_links %}

{% block custom_script_links %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery-ui-1.10.4.custom.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/date_picker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/all_requests.js') }}"></script>
  
{% endblock custom_script_links %}

{% block container %}

  <div class="row-fluid">
    <div class="span11 offset1">  

      <div class="row-fluid">
          <div class="span9">
              <div id="exploreTitle">
                <h3>Explore <span class="badge">{{total_requests_count}}</span> requests and counting</h3>
                <a href="/new" class="btn btn-primary btn-large pull-right">Request new record</a>
              </div>
          </div>
      </div>

      <div class="row-fluid">
        <div class="span9" >
          <p class="intro_text">RecordTrac makes every public records request available to the public, including messages or documents uploaded by agency staff. Search through current and past requests. You may find what you need!</p>
        </div>
      </div>

    <form id ="all_requests_form" name="all_requests" action="/requests" method="GET"> 
      <div class="row-fluid" style="padding-bottom: 5%;">
        <div class="span3" style="padding-top: 45px;">
          
          <button class="btn btn-primary input-block-level" type="submit" value="Submit">Find</button>

            <h5>Search request text</h5>
            <div>
              <input class="input-block-level" name="search_term" type="search" value="{{search_term or ''}}" placeholder="I'd like to find...">
            </div>
                                          
            <!-- <h4 class="underline">ADVANCED FILTER</h4> -->
            {% if current_user.is_authenticated() %}
                <h5>My requests</h5>
                <div class="indent">
                    <label class="checkbox">
                      <input type="checkbox" name="mine_as_poc" {% if mine_as_poc %} checked {% endif %} />
                      <em>as Point of Contact</em>
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" name="mine_as_helper" {% if mine_as_helper %} checked {% endif %} />
                      <em>as Helper</em>
                    </label>
                </div>
            {% endif %}

            <h5>Status</h5>
            <div class="indent" style="padding-bottom: 15px;">
                <label class="checkbox">
                  <input type="checkbox" name="is_open" {% if is_open %} checked {% endif %} />
                  <em class="open_style">Open</em>
                </label>
              {% if current_user.is_authenticated() %}
                <label class="checkbox">
                  <input type="checkbox" name="due_soon" {% if due_soon %} checked {% endif %} />
                  <em class="duesoon_style">Due Soon</em>
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="overdue" {% if overdue %} checked {% endif %} />
                  <em class="overdue_style">Overdue</em>
                </label>
                {% endif %}
                <label class="checkbox">
                  <input type="checkbox" name="is_closed" {% if is_closed %} checked {% endif %} /> 
                  <em class="closed_style">Closed</em>
                </label>
            </div>
          
            <h5>Date received</h5>
            <div class="control-group">
                <input type="date" 
                       name="min_date_received"
                       value="{{ min_date_received }}"
                       class="input-block-level" > 
                <input type="date" 
                       name="max_date_received"
                       value="{{ max_date_received }}"
                       class="input-block-level" > 
            </div>

            {% if current_user.is_authenticated() %}
              <h5>Due date</h5>
              <div class="control-group">
                  <input type="date" 
                         name="min_due_date"
                         value="{{ min_due_date }}"
                         class="input-block-level" > 
                  <input type="date" 
                         name="max_due_date"
                         value="{{ max_due_date }}"
                         class="input-block-level" > 
              </div>
                <h5>Requester name</h5>
                <div>
                  <input class="input-block-level" name="requester_name" type="search" placeholder="Enter name" value="{{requester_name or ''}}">
                </div>
            {% endif %} 

            <h5>Department</h5>
            <div class="row-fluid">
                <select name="departments_selected" class="selectpicker span10" multiple data-selected-text-format="count" data-size="5">
                  {% for department in departments %}
                    {% if departments_selected and department.name in departments_selected %}
                      <option selected>{{department.name}}</option>
                    {% else %}
                      <option>{{department.name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
            </div>

            <button class="btn btn-primary input-block-level" type="submit" value="Submit">Find</button>

            {% if current_user.is_authenticated() %}
              <div class="row-fluid">
                <p class="text-center" style="padding-top: 2em;">
                  <a href="/export"> <i class="icon-download"></i> Export data</a>
                </p>
              </div>
            {% endif %}

        </div>

        <div class="span8">
   
          <table id="requests">
              <thead id="headings">
                  <tr>
                      <th class="status" style="width: 40px"></th>
                      <th style="width: 8%">
                        <button class="btn btn-link sortable" type="submit" onclick="return insertInput('id');">#</button>
                      </th>
                      <th style="width: 12%">
                        <button class="btn btn-link sortable" type="submit" onclick="return insertInput('date_received');">Received</button>
                      </th>
                      <th style="width: 25%">
                        <button class="btn btn-link sortable" type="submit" onclick="return insertInput('text');">Request</button>
                      </th>
                      <th style="width: 15%">Department</th>
                      <th style="width: 15%">Point of Contact</th>
                      {% if current_user.is_authenticated() %}
                        <th style="width: 12%">
                          <button class="btn btn-link sortable" type="submit" onclick="return insertInput('due_date');">Due</button>
                        </th>
                        <th style="width: 14%">Requester</th>
                      {% endif %}
                  </tr>
              </thead>
              <tbody>
              {% for request in requests %}              
                  <tr>
                    <td style="width: 3%" class="status {{request.solid_status}}">
                      {% if request.solid_status == "closed"  %}
                        <i class="icon-archive icon-light"></i>
                      {% endif %}
                    </td>
                    <td style="width: 4%">{{request.id}}</td>
                    <td style="width: 12%">{{request.date_received}}</td>
                    <td style = "width: 25%">
                    {% if current_user.is_authenticated() %}
                      <a href="/city/request/{{request.id}}">
                    {% else %}
                      <a href="/request/{{request.id}}">
                    {% endif %}

                    {% set text = request.text %}
                    {% if request.solid_status == "due soon" %}
                        <span style = "background-color: #FB991B" class="label label-warning">due soon</span> 
                    {% elif request.solid_status == "overdue" %}
                        <span style = "background-color: #CA1A1A" class="label label-important">overdue</span> 
                    {% endif %}
                    {{ text }}

                    </a>
                    </td>
                    <td style="width: 15%">{{request.department}}</td>                    
                    <td style="width: 15%">{{request.contact_name}}</td>
                    {% if current_user.is_authenticated() %}
                    <td style="width: 12%">{{request.due_date }}</td>
                    <td style="width: 14%">{{request.requester}}</td>
                    {% endif %}
                  </tr>
              {% endfor %}
              </tbody>
          </table> 

          <div class="pull-left pagination">
            <ul>
              {% if page_number > 1 %}
                  <button class="btn btn-small" type="submit" onclick="return pageNumber(-1);">Previous</button>
              {% endif %}

              <li>Showing {{ start_index }} to {{ end_index }} of {{ num_results }} entries</li>
              
              {% if more_results %}
                  <button class="btn btn-small" type="submit" onclick="return pageNumber(1);">Next</button>
              {% endif %}
            </ul>
          </div>

          
        </div>
      </div>
          </form>
    </div>
  </div>

<script type="text/javascript">
    var sort_direction = '{{sort_direction|safe}}';
    var sort_column = '{{sort_column|safe }}';
    var page_number = {{page_number|safe}};

    function insertInput(inputValue)
    {
        if (inputValue == sort_column) {
          if (sort_direction == 'asc') {
            sort_direction = 'desc';
          }
          else {
            sort_direction = 'asc';
          }
          hiddenInput = document.createElement('input');
          hiddenInput.type = 'hidden';
          hiddenInput.name = 'sort_direction';
          hiddenInput.value = sort_direction;
          document.getElementById('all_requests_form').appendChild(hiddenInput);
        }
        hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'sort_column';
        hiddenInput.value = inputValue;
        document.getElementById('all_requests_form').appendChild(hiddenInput);
        return true;
    }

  function pageNumber(numChange)
  {
      var new_num = page_number + numChange;
      hiddenInput = document.createElement('input');
      hiddenInput.type = 'hidden';
      hiddenInput.name = 'page_number';
      hiddenInput.value = new_num;
      document.getElementById('all_requests_form').appendChild(hiddenInput);
      return true;
  }

</script>

{% endblock container %}
