<!-- This template is show all cases in the system for the city. -->

{% extends "all_requests.html" %}
{% block title %}{{title}}{% endblock title %}
{% block datatable %}
  <table cellpadding="0" cellspacing="0" border="0" id="allrequestTable" class="data-table table">
    <caption>All request table</caption>
    <thead>
      <tr>
        <th class="status" scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Received</th>
        <th scope="col">Request</th>
        <th scope="col">Department</th>
        <th scope="col">Point of Contact</th>
        <th scope="col">Due</th>
        <th scope="col">Requester</th>
      </tr>
    </thead>
    <tbody>
      {% for request in record_requests %}
      {% if user_id %}
        <tr onclick="window.location.href='/city/request/{{request.id}}';">
        {% else %}
        <tr onclick="window.location.href='/request/{{request.id}}';">
        {% endif %}
          {{ request.display_text | safe }}
        </tr>
      {% else %}
      {% endfor %}
    </tbody>
  </table>
{% endblock datatable %}

{% block sidebar %}
  <div class="well r_sidebar r_sidebar-fixed">
    <h4>View <small class="count"> {{ record_requests | count }} of {{total_requests_count}} shown</small></h4>

    <form name="filterPublic" class="form-horizontal" id="filterPublic" method="get" action="/requests">
      <fieldset>
        <!-- Requester's name
         <input name = "requester" id = "requester" type="text" value="{{requester_name}}"> -->
        <label class="checkbox">
          <input name = "owner" title="my_requests_checkbox" id = "owner" type="checkbox" value="{{user_id}}"
          {% if my_requests %} checked {% endif %}>
              My requests
        </label>
        <label class="checkbox">
          <input type="checkbox" title="open_requests_checkbox" value="open" name="status" id= "status" 
          {% if open_requests %} checked {% endif %}>
                Open requests
        </label>
<!--         <label class="checkbox">
          <input type="checkbox" value="">
          Due requests
        </label> -->
        <div class="row-fluid">
          <select class="span12 selectpicker" id = "department" name = "department">
            <!-- <option selected="{{dept_selected}}"> -->
            <option value = "all">All departments</option>
            {% for department in departments %}
              {% if dept_selected == department %}
              <option selected = "selected">{{department}}</option>
              {% else %}
              <option>{{department}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="row-fluid">
          <div id="viewSubmit" class="span6 offset3">
            <button type="submit" title="update_table_button" class="btn btn-primary input-block-level">Update table</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock sidebar %}
