{% extends "base.html" %}

{% block title %}
  {{ title }} &#45; {% trans %}RecordTrac{% endtrans %}
{% endblock title %}

{% block custom_css_links %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/all_requests.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/all_requests_noresults.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.min.css')
  }}">
       <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui-1.10.4.custom.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui.css') }}">
{% endblock custom_css_links %}

{% block custom_script_links %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/date_picker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/requests.js') }}"></script>
{% endblock custom_script_links %}

{% block container %}
  <div class="row-fluid">
    <div class="span11 offset1">

      <div class="row-fluid">
        <div class="span9">
          <div id="exploreTitle">
            <h3>{% trans %}Explore <span class="badge">{{total_requests_count}}</span> requests and counting{% endtrans %}</h3>
            <!-- <a href="/new" class="btn btn-primary btn-large pull-right">Request new record</a> -->
          </div>
        </div>
      </div>

      <div class="row-fluid blurb">
        <div class="span9">
          <p class="intro_text">{% trans %}RecordTrac makes every public records request available to the public, including messages or documents uploaded by agency staff.  Search through current and past requests.  You may find what you need!{% endtrans %}</p>
        </div>
        <div class="span3">
          <a href="/new" class="btn btn-primary btn-large">{% trans %}Request new record{% endtrans %}</a>
        </div>
      </div>

      {# Search results table. #}
      <div class="row-fluid">
        <div class="span3">
          <div class="well search_style">

            <div id="search_field_container"></div>
            <script type="text/template" id="search_field_template">
              <h4 class="underline">{% trans %}SEARCH{% endtrans %}</h4>
              <h5>{% trans %}Request text{% endtrans %}</h5>
              <div class="indent">
                <input id="search_term" class="input-block-level" type="search" placeholder="{% trans %}I'd like to find...{% endtrans %}" value="<%- search_term %>">
              </div>
            </script>

            <div id="requester_name_container"></div>
            <script type="text/template" id="requester_name_template">
              {% if current_user.is_authenticated() %}
                  <h5>{% trans %}Requester name{% endtrans %}</h5>
                  <div class="indent">
                    <input id="requester_name" class="input-block-level" type="search" placeholder="{% trans %}Enter name{% endtrans %}" value="<%- requester_name %>">
                  </div>
              {% endif %}
            </script>

            <div id="sidebar_container"></div>
            <script type="text/template" id="sidebar_template">
              <h4 class="underline">{% trans %}ADVANCED FILTER{% endtrans %}</h4>
                {% if current_user.is_authenticated() %}
                  <h5>{% trans %}My Requests{% endtrans %}</h5>
                  <div class="indent">
                    <label class="checkbox">
                      <input
                         type="checkbox"
                         id="mine_as_poc"
                         <% if (mine_as_poc == 'true' || mine_as_poc == true) { %>
                           checked
                         <% } %> >
                      <em>{% trans %}as Point of Contact{% endtrans %}</em>
                    </label>
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        id="mine_as_helper"
                        <% if (mine_as_helper == 'true' || mine_as_helper == true) { %>
                          checked
                        <% } %> >
                      <em>{% trans %}as Helper{% endtrans %}</em>
                    </label>
                  </div>
                {% endif %}

                <h5>{% trans %}Status{% endtrans %}</h5>
                <div class="indent" style="padding-bottom: 15px;">
                <label class="checkbox">
                    <input type="checkbox"
                           id="is_open"
                           <% if (is_open == 'true' || is_open == true) { %>
                             checked
                           <% } %> >
                    <em class="open_style">{% trans %}Open{% endtrans %}</em>
                  </label>
                {% if current_user.is_authenticated() %}
                  <label class="checkbox">
                    <input type="checkbox"
                           id="due_soon"
                           <% if (due_soon == 'true' || due_soon == true) { %>
                             checked
                           <% } %> >
                    <em class="duesoon_style">{% trans %}Due Soon{% endtrans %}</em>
                  </label>
                  <label class="checkbox">
                    <input type="checkbox"
                           id="overdue"
                           <% if (overdue == 'true' || overdue == true) { %>
                             checked
                           <% } %> >
                    <em class="overdue_style">{% trans %}Overdue{% endtrans %}</em>
                  </label>
                  {% endif %}
                  <label class="checkbox">
                    <input type="checkbox"
                           id="is_closed"
                           <% if (is_closed == 'true' || is_closed == true) { %>
                             checked
                           <% } %> >
                    <em class="closed_style">{% trans %}Closed{% endtrans %}</em>
                  </label>
                </div>
            </script>

            <h5 id="date_received_title" class="hidden">{% trans %}Request Date{% endtrans %}</h5>
            <div id="date_received_container"></div>
            {% if current_user.is_authenticated() %}
            <div id="due_date_container"></div>
            {% endif %}
            <script type="text/template" id="date_filter_template">
              <div class="date_filter">
                <h5><%- title %></h5>
                <a class="all_dates">{% trans %}All Dates{% endtrans %}</a>
                <div class="control-group indent">
                  <input type="text"
                         class="span5 min_field"
                         name="request_received_begin"
                         value="<%- min_value %>" >
                  <input type="text"
                         class="span5 max_field"
                         name="request_received_end"
                         value="<%- max_value %>" >
                </div>
              </div>
            </script>

            <div id="department_selector_container"></div>
            <script type="text/template" id="department_selector_template">
              <h5>{% trans %}Department{% endtrans %}</h5>
              <div class="row-fluid indent">
                <select class="span10">
                  <option id="all_departments">{% trans %}All departments{% endtrans %}</option>
                  <% if (department) { %>
                    <option selected><%= department %></option>
                  <% } %>
                  {% for department in departments %}
                    <option>{{department}}</option>
                  {% endfor %}
                </select>
              </div>
            </script>

          </div>

          {% if current_user.is_authenticated() %}
              <div class="row-fluid">
                <p class="text-center" style="padding-top: 2em;">
                  <a href="/export"> <i class="icon-download"></i> {% trans %}Export data{% endtrans %}</a>
                </p>
              </div>
          {% endif %}

        </div>

        <div class="span8" id="search_results_container"></div>
        <script type="text/template" id="search_results_template">
          <table id="requests">
            <thead id="headings">
              <tr>
                <th class="status" ></th>
                <th id="id" class="sortable" >#</th>
                <th id="date_received" class="sortable" >{% trans %}Received{% endtrans %}</th>
                <th id="text" class="sortable" >{% trans %}Request{% endtrans %}</th>
                <th >{% trans %}Department{% endtrans %}</th>
                <th >{% trans %}Point of Contact{% endtrans %}</th>
                {% if current_user.is_authenticated() %}
                  <th id="due_date" class="sortable"  >{% trans %}Due{% endtrans %}</th>
                  <th >{% trans %}Requester{% endtrans %}</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
            <% if (requests.length > 0) { %>
              <% _.each(requests, function(request) { %>
                <tr>
                  <td class="status <%= request.solid_status %>">
                    <% if ( request.solid_status === "closed" ) { %>
                      <i class="icon-archive icon-light"></i>
                    <% } %>
                  </td>
                  <td ><%- request.id %></td>
                  <td ><%- request.date_received %></td>
                  <td >
                  {% if current_user.is_authenticated() %}
                    <a href="/city/request/<%= request.id %>">
                  {% else %}
                    <a href="/request/<%= request.id %>">
                  {% endif %}


                  <% if ( request.text.length > 140 ) { %>
                      <% text = request.text.substring(0, 140).trim() + "..." %>
                  <% } else { %>
                      <% text = request.text %>
                  <% } %>
                  <% if (request.solid_status ==="due soon") { %>
                      <span style = "background-color: #FB991B" class="label label-warning">{% trans %}due soon{% endtrans %}</span>
                   <% } else if (request.solid_status === "overdue" ) { %>
                      <span style = "background-color: #CA1A1A" class="label label-important">{% trans %}overdue{% endtrans %}</span>
                  <% } %>
                  <%- text %>

                  </a>
                  </td>
                  <td ><%- request.department %></td>
                  <td ><%- request.contact_name %></td>
                  {% if current_user.is_authenticated() %}
                  <td ><%- request.due_date %></td>
                  <td ><%- request.requester %></td>
                  {% endif %}
                </tr>
              <% } ); %>
            <% } else { %>
            <td></td><td></td><td></td><td></td><td>{% trans %}No matching records found{% endtrans %}</td><td></td><td></td><td></td>
            <% } %>

            </tbody>
          </table>

        <div class="pull-left pagination">
          <ul>
            <li>{% trans %}Showing <%- start_index %> to <%- end_index %> of <%- num_results %> entries{% endtrans %}</li>
          </ul>
        </div>

        <div class="pull-right pagination">
          <% if (page_number > 1) { %>
            <ul>
              <li class="prev"><a href="javascript:void(0)">{% trans %}Previous{% endtrans %}</a></li>
            </ul>
          <% } %>
          <% if (more_results) { %>
            <ul>
              <li class="next"><a href="javascript:void(0)">{% trans %}Next{% endtrans %}</a></li>
            </ul>
          <% } %>
        </div>
      </script>

    </div>
  </div>
{% endblock container %}
