{% extends "base.html" %}

{% block container %}
<div class="row-fluid">
    <div class="span10">
		{% block banner %}
			{{ super() }}
		{% endblock banner %}
		<div class="span8 offset1">
			<p>You've entered the public records request portal for the City of Oakland, which is currently being tested. If you are here, you were probably assigned a public records request. Please login above to view and respond to the request. If you do not know your password, please email <a href="oakland@codeforamerica.org">oakland@codeforamerica.org</a> to be assigned one. </p>
		</div>
	</div>
</div>
{% endblock container %}



