{% extends "base.html" %}

{% block container %}
<div class="row-fluid">
    <div class="span10">
		{% block banner %}
			{{ super() }}
		{% endblock banner %}
		<div class="span8 offset1 intro_text">
			<p>{% trans agency_name=config['AGENCY_NAME'] %}You have entered the public records request portal for the {{agency_name}}.  This view requires authorized access.{% endtrans %}</p>

			<p>{% trans agency_name=config['AGENCY_NAME'] %}If you are on {{agency_name}} staff, please login above to view and respond to the request.{% endtrans %}</p>

			<p>{% trans agency_name=config['AGENCY_NAME'] %}If you are not a {{agency_name]}} employee, you can <a href="/landing">view public requests here</a>.{% endtrans %}</p>
		</div>
	</div>
</div>
{% endblock container %}
