<!-- This template provides the header, footer, and basic layout for ALL pages. -->

<!doctype html>
<html class="no-js">
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title%}</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-responsive.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-fileupload.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery.dataTables.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/DT_bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.dataTables.css') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/select2.css') }}">

    <!-- used for the tutorial -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstro.css') }}">

    <!-- used for the extension and close request multi-select boxes in city view -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.min.css') }}">


  <!-- modernizr -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/modernizr-latest.js') }}"></script>

  <!-- google analytics -->
    <!-- for later: guide to add event-driven analytics http://www.sitepoint.com/google-analytics-track-javascript-ajax-events/ -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41730935-1', 'herokuapp.com');
  ga('send', 'pageview');
  </script>

  </head>
  
  <body>
    <div class="wrapper">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="/new">Public Records Request Portal<small class="text-warning"><em> alpha</em></small></a>
            <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">
              <ul class="nav">
                {% if user_id %}
                <li><a href="/your_requests">Your requests</a></li>
                <li><a href="/requests">All requests</a></li>
                <li class="bootstro" data-bootstro-title="Back to Tutorial" data-bootstro-content="{{"Back to Tutorial" | tutorial }}" data-bootstro-step="10" data-bootstro-placement="bottom" data-bootstro-width="75%"><a href="/tutorial">Tutorial</a></li>
                <li><a href="/about">About</a></li>
                {% else %}
                <li><a href="/new">Make a request</a></li>
                <li><a href="/requests">Explore requests</a></li>
                <li><a href="/about">About</a></li>
                {% endif %}
              </ul>
            </div>
            <!-- Login area -->
            {% if user_id %}
    
            <ul  class="nav pull-right">
              <li>
                <p class="navbar-text"> {{ "alias" | get_attribute(user_id, "User") }} </p>
              </li>
            
              <li>
                <form class="navbar-form" id="logoutForm" action="/logout">
                  <input id="logout_form" type="submit" value="Logout" class="btn"/>
                </form>
              </li>
            </ul>

            {% else %}
            <form class="navbar-form pull-right" method="post" id="loginForm" action="/login">
              <input type="text" class="input-medium" name="email" placeholder="you@oaklandnet.com">
              <input type="password" class="input-small" name="password" placeholder="password">
              <input type="submit" value="City login" class="btn"/>
            </form>
            {% endif %}
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
              <!-- .nav, .navbar-search, .navbar-form, etc -->
            </div>
          </div>
        </div>
      </div>
      <div id="container">
        {% block container %}
          <div class="row-fluid">
            <div class="span10">
              {% block banner %}
                <!-- beta banner -->
                <div class="alert alert-block">
                  <div class="span1 text-right"><i class="icon-warning-sign icon-2x"> </i></div>
                  <div class="offset1">
                    <p> <strong>This website is being tested. Some features may not work or will change over time.</strong></p>  
                  </div>
                </div>
              {% endblock banner%}
            </div>
          </div>
          
        {% endblock container %}
      </div>



      <div class="push"></div>
    </div>
      
    <div id="footer" class="well well-small footer">
      <p class="text-center">Made by <a href="http://codeforamerica.org/2013-partners/oakland/">Code for America 2013 Fellows</a></p>
      <p class="text-center"><a href="https://github.com/codeforamerica/public-records"> <i class="icon-github"></i> Project info</a></p>
    </div>

    {% block feedback %}
    <!-- gforms feedback tab -->
        <h5 class="text-center" ><a id="floating_link" href="#feedbackModal" data-toggle="modal" class="bootstro" data-bootstro-title="Feedback" data-bootstro-content="{{"Feedback" | tutorial }}" data-bootstro-step="9" data-bootstro-placement="right" data-bootstro-width="50%"> Feedback</a></h5>
       
      <!-- Modal for feedback -->
      <div id="feedbackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <iframe src="https://docs.google.com/forms/d/1UYbs_Rk9eeK4OAKFpfSQnxPBTQ8DcG7iO6RnIiB6Qaw/viewform?embedded=true" width="500" height="390" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
      </div>
    {% endblock feedback %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery-1.10.1.min.js') }}"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.placeholderpatch.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/DT_bootstrap.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.ellipsis.js') }}"></script>

    <!-- used for the tutorial -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstro.js') }}"></script>

    <!-- used for the extension and close request multi-select boxes in city view -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-select.min.js') }}"></script>


    {% block custom_script_links %}

    {% endblock custom_script_links %}

    

  </body>
</html>
