<!-- This template houses the baseline case information (request, documents, status, etc.) only. -->

{% extends "base.html" %}
{% block title %}Request{% endblock title %}


{% block container %}
  <div class="row-fluid">
    <div class="span9">
      {% block banner %}{{super()}}{% endblock banner %}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8 offset1">
      {% block well %}
        <div class="well">

          {% block request %}
            <!-- request area -->
            <div class="row-fluid">

                <h3 >Request <span class="muted">#{{req.id}}</span></h3>
                <p class="lead" truncateable="250"> {{ req.text | new_lines }} </p>

            </div>
            <div class="row-fluid">
              {% block proxyrequester_info %}
                <small>
                  {% if req.creator_id %}
                    <span>This request was submitted on behalf of the requester by {{ "alias"| get_attribute(req.creator_id, "User") }}.</span>
                  {% endif %}
                </small>
              {% endblock proxyrequester_info %}
            </div>
            
          {% endblock request %}


          <!-- shows any existing Q&A or public notes -->
          {% set request_data = ( req | get_request_data_chronologically ) %}
            {% for response in request_data %}
              {% set icon = response.get_icon() %}
                <div class="row-fluid response">
                  <div class="span2 text-center">
                    <i class="{{icon}}">  </i></br>
                    <small> {{ response.date() | date_granular }} </small> </br>
                  </div>
                  <div class="span10">
                    <p>
                       {{ response.display_text() | safe }}
                    </p>
                  </div>
                </div>
            {% endfor %}
        </div>
      {% endblock well %}
      <div class="row-fluid">
        {% block requester_info %}{% endblock requester_info %}
      </div>
      {% block responses_container %}
        <div id="responses-container" class="row-fluid">
          <h3 class="response">Response</h3>{% block response_actions %}{% endblock response_actions %}
          <!-- shows all existing responses (links, documents, offline docs, notes) -->
          {% set responses = ( req | get_responses_chronologically ) %}
          {% if responses %} 
            {% for response in responses %}
              {% set uid = response.uid() %}
              {% set staff = ("User" | get_obj(uid)) %}
              {% set icon = response.get_icon() %}
              <div class="row-fluid response-wrapper">
                <div class="span1 text-left">
                  <i class="{{icon}}"></i>
                </div>
                <div class="span9">
                  <p truncateable="175"> 
                   {{ response.display_text() | safe }} 
                 </p>
                </div>
                <div class="span2 text-right">
                  <div class="row-fluid">
                    <a href="/staff_card/{{uid}}" data-placement="right" data-toggle="popover" id="contactinfoPopoverResponse{{loop.index}}" class="hidden-phone hidden-tablet"><span class="contactinfoPopover" onmouseover="directoryPopover('{{staff.email}}', '{{staff.department}}', '{{staff.phone}}', '#contactinfoPopoverResponse{{loop.index}}')">{{ staff.alias or staff.email }}</span></a>
                  </div>
                  <div class="row-fluid">
                    <a data-placement="right" data-toggle="popover" href="#" id="timestampPopover" class="hidden-phone hidden-tablet"><span class="timestampPopover" onmouseover="timestampPopover('{{ response.date() | date_granular }}')">{{ response.date() | date_granular }}</span></a>
                    {% include '_timestamp.html' %}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}<!--added an if then to check to see if any responses exist - if no then show text here for the "if any response exists" above -->
            <div class="row-fluid">
              <p>There are no records uploaded just yet.  Stay tuned!</p>
            </div>
          {% endif %}
        </div>
      {% endblock responses_container %}
    </div>
    
    <div class="span3">
      {% block sidebar %}
        <div class="well well-small r_sidebar_banner r_sidebar-fixed hidden-phone hidden-tablet">
          <h4 class="text-center">Status</h4>
        </div>

        <div class="well well-small b_sidebar r_sidebar-fixed hidden-phone hidden-tablet">
          <div class="row-fluid">
              <h4>Point of Contact</h4>
              {% include '_contact_popover.html' %}
          </div>
          <div class="row-fluid">
              <h4>Helpers</h4>
              <p>list of people</p>
              {% for owner in req.owners %}
              {% set staff = ( "User" | get_obj(owner.user_id)) %}
               {{ staff.alias }} </br>
              {% endfor %}
          </div>
          <div class="row-fluid">
            <div>
              {% include '_history.html' %}
            </div>
          </div>
        </div>
      {% endblock sidebar %}
    </div>
    
  </div>

{% endblock container %}


{% block content %}

  {% block public_note %}{% endblock public_note %}

  {% block clarify_request %}{% endblock clarify_request %}

  {% block response %}
    <!-- response area: need to give this more space between the request area-->
  {% endblock response %}

{% endblock content %}






{% block custom_script_links %}
  <!-- Listed in case instead of manage_request_city for truncation -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/manage_request_city.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/manage_request_city.css') }}">

  <!-- For response_widget partial -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/_response_widget.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/_response_widget.js') }}"></script>

  <!-- For sidebar styling -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bottom_sidebar.css') }}">
{% endblock custom_script_links %}
