<!-- This template extends the baseline case information but shows a record as closed. -->
<!-- This template should be eventually updated so that status/owner info is a consistent block between "case" and "closed". -->

{% extends "case.html" %}
{% block title %}{% trans %}Request ID:{% endtrans %} {{ req.id }}{% endblock %}

{% block status %}
    {% set status = req.solid_status() %}
    {% include '_manage_requests_status.html' %}
{% endblock status %}


{% block follow %}{% endblock follow %}
