<!-- This template extends the baseline case information but shows a record as closed. -->
<!-- This template should be eventually updated so that status/owner info is a consistent block between "case" and "closed". -->

{% extends "case.html" %}
{% block title %}Request {{ req.id }}{% endblock %}

{% block status %}
    {% set status = ( req | get_status('city') ) %}
    {% include '_manage_requests_status.html' %}
{% endblock status %}

<div class="text-right">
  {% block routing %}
  {% set note = req.id | last_note %}
    <span class="label label-info">{{req.status}} {{note.date_created | date }} by {{ "alias" | get_attribute(note.user_id, "User")}} </span>
  {% endblock routing %}
  {% block history %}
    {{ super() }}
  {% endblock history %}
</div>

{% block follow %}{% endblock follow %}
