<html>

<body>
<div style="background-color:#FFF;width:100%;margin:0px; padding:0px">
    <div style="padding:20px;">
        <div style="padding:8px;background-color:#EEE;-moz-border-radius:7px;-webkit-border-radius:7px;">
            <div style="clear:both;">
				<span style="font-family: arial,helvetica,sans-serif;"><span
                        style="color: rgb(51, 51, 51); font-size: 14px;">
<p>
    The {{ department_name }} is not currently using the OpenRECORDS program to respond to requests.
    Your FOIL Request has been automatically sent to the agency. They will contact you directly.
    Information about this request will not be maintained in this program.
</p>
                    </br>

                    You can find the Agency FOIL Office contact information in the following listing:
                    <a href="http://www.nyc.gov/html/records/downloads/pdf/FOIL%20Officer%20Contact%20Information_February%202015.pdf">
                    NYC Agency FOIL Officers (February 2015)</a>
                    (in <a href="http://www.nyc.gov/cgi-bin/exit.pl?url=http://www.adobe.com/products/acrobat/readstep2.htm"l>PDF</a>)
                    </br>

		</span></span></div>
        </div>
    </div>


</div>
</body>
<footer>

<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 11px;">
<center>
    <img src="{{ config['LOGO_ON_WHITE_URL'] }}" width="50" height="40"/> <br/> <br/>

    {{ config['AGENCY_NAME'] }}

</center>
<span>
</div>
</footer>
</html>