<html>

<body>
<div style="background-color:#FFF;width:100%;margin:0px; padding:0px">
    <div style="padding:20px;">
        <div style="padding:8px;background-color:#EEE;-moz-border-radius:7px;-webkit-border-radius:7px;">
            <div style="clear:both;">
				<span style="font-family: arial,helvetica,sans-serif;"><span
                        style="color: rgb(51, 51, 51); font-size: 14px;">
<p>
    Request Title: {{ Requests_Title }}
    Request Description: {{ Request_Description }}
    Contact Information: {{ Requester_Contact_Information }}
</p>
                    </br>
                    If you have any questions, please contact the OpenRecords Team at
                    <a href="mailto:openrecords@records.nyc.gov">openrecords@records.nyc.gov</a>
                    </br>

		</span></span></div>
        </div>
    </div>


</div>
</body>
<footer>

<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 11px;">
<center>
    <img src="{{ config['LOGO_ON_WHITE_URL'] }}" width="50" height="40"/> <br/> <br/>

    {{ config['AGENCY_NAME'] }}

</center>
<span>
</div>
</footer>
</html>