{% extends "base.html" %}
{% set active_page="faq" %}
{% block title %}{{ title }}{% endblock title %}

{% block container %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/about.css') }}">
    <div class="row-fluid">
        <div class="span8">

            <div class="row-fluid">
<!--                 <div class="bottombreathe">
                    <h1 id="about">About NYC Open Gov</h1>

                    <p class="lead">NYC Open Gov is a quick, simple way for you to submit a public records request to
                        the {{ config['AGENCY_NAME'] }}.</p>

                    <p><strong>Most information on this site is public.</strong> Your contact information, and personal
                        information that may be contained in government documetns will not be made available to the
                        public.</p>
                </div> -->
                <div class="bottombreathe">
                    <h4 id="what">What does FOIL mean?</h4>

                    <p>FOIL stands for the Freedom of Information Law.  The Freedom of Information Law provides rights of access to records relating to the governmental decisions and policies which affect the lives of each New Yorker.</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="documents">What kinds of records do I have the right to see?</h4>

                    <p>The records include information found in documents, e-mails, audio or visual recordings, memos and more.  All records are available, unless an exception permits an agency to deny access.  </p>
                </div>
                 <div class="bottombreathe">
                    <h4 id="documents">Are there any public records that I can’t see?</h4>

                    <p>Yes, there are exceptions to FOIL. Most of the exceptions are based upon common sense and the potential for harm that would arise by means of disclosure. If disclosure of records would be damaging to an individual or preclude a government agency from carrying out its duties, it is likely that some aspects of the records may be withheld. <a href="http://www.dos.ny.gov/coog/foil2.html#s87">See FOIL &sect;87(2)</a></p>
                </div>
                 <div class="bottombreathe">
                    <h4 id="documents">Do I have to explain why I want to see them?</h4>

                    <p>No.</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="documents">How much does it cost?</h4>

                    <p>There is no initial fee to submit a FOIL request.  However, agencies are authorized to charge certain fees associated with the processing of requests.  Some categories of requesters cannot be charged these fees and, in some cases, fees can be reduced or waived.</p>
                    <p>For a typical requester the agency can charge for the time it takes to search for records and for duplication of those records.</p>
                    <p>You may always include in your request letter a specific statement limiting the amount that you are willing to pay in fees. If an agency estimates that the total fees for processing your request will exceed $25, it will notify you in writing of the estimate and offer you an opportunity to narrow your request in order to reduce the fees. If you agree to pay fees for a records search, you may be required to pay such fees even if the search does not locate any releasable records.</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="documents">How long does it take?</h4>

                    <p>After you have received the acknowledgement from the Records Access Officer, you will receive a response from the agency acknowledging your request within five (5) business days.  The actual time to complete q request will vary depending on a number of many factors (i.e., the amount of records requested, the difficulty involved in compiling and/or locating the records, etc.).  You will receive a notification indicating the expected amount of time that will be required to complete the request.</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="documents">How do I know which agency handles the records I need?</h4>

                    <p>You can use the categories field to help determine the correct agency. By entering the general category for your request, the Agency dropdown list will display the agencies that address those types of requests.  You can then select the agency form that list.  If the incorrect agency is selected; you will be notified that the request should be resubmitted to a different agency.</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="documents">How do I make a request?</h4>

                    <p>You can submit a FOIL request at the OpenFOIL portal for all NYC agencies.  Visit <a href="http://getinfo.nyc/new">http://getinfo.nyc/new</a> and follow the prompts and directions provided in order to make your request.</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="documents">What if I don’t agree with an agency’s response?</h4>

                    <p>You may file an administrative appeal if the agency’s response is unsatisfactory.  Appeals can be effective to successfully challenge excessive processing delays, fee waiver denials, and the improper full or partial withholdings of responsive documents. Agency regulations governing appeals vary; take careful note of the instructions for filing an appeal in the agency's response to ensure that your appeal is timely. An appeal letter should state the grounds for appeal and reasons why the agency's response to the request was improper, request a more precise explanation of the agency's decision (if the reasons for the initial determination were unclear), and say that you expect a final ruling on the appeal within the 20-day statutory time limit. [See the <a href="http://nsarchive.gwu.edu/nsa/foia/guide.html#appeals">sample FOIA appeal</a> below.]</p>
                </div>
                <div class="bottombreathe">
                    <h4 id="documents">I asked for a copy of public records and the agency refused my request, saying that it was too broad. What can I do?</h4>

                    <p>An agency may reject a request that does not "reasonably describe" records. If the request is too vague to answer, the agency may seek clarification of the request.  You should submit a new request with a more specific description of the records being requested.</p>
                </div>


            </div>
        </div>
    </div>
{% endblock container %}


