<html>

<body>
<div style="background-color:#FFF;width:100%;margin:0px; padding:0px">
	<div style="padding:20px;">
		<div style="padding:8px;background-color:#EEE;-moz-border-radius:7px;-webkit-border-radius:7px;">
			<div style="clear:both;">
				<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 14px;">

<p>
		You can view the request and take any necessary action at the following webpage: <a href='{{page}}'>{{page}}</a>
</p>
<br/>  
<p>
<hr>
<br />
<br />
<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 11px;">
<center>
<i>The 2013 Code for America fellows are creating a new web application that will help the City of Oakland manage public records requests. For more information about Code for America, visit to <a href="http://codeforamerica.org/2013-partners/oakland/">codeforamerica.org</a>.</i>
</center>
</span>
</p>

		</span></span></div>
		</div>
	</div>
</div>
</body>
<footer>

<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 11px;">
<center>
<img src="http://www.artandsouloakland.com/images/Citylogooaklandtreesize.jpg" width="50" height="40"> <br /> <br />
The City of Oakland <br/>
1 Frank H. Ogawa Plaza <br/>
Oakland, CA 94612 <br />
Phone Number: (510) 444-CITY 

</center>
<span>
</div>
</footer>
</html>