{% extends "base.html" %}
{% block content %}
<p>
  {{ message }}
</p>
  <p>
  If you're having trouble uploading the record from our interface, or the file extension you are trying to upload is not supported, we recommend uploading directly to the city's open data portal [instructions here]. It is best to upload csv and other data files to the open data portal. After doing so, you can provide a link to the record instead of uploading it. 
</p>
<p>
  If you are trying to upload e-mail, we recommend saving it as a .txt file and uploading that. For instructions on how to do that, go [here].
</p>
{% endblock %}
