<!-- This template is for the landing page. -->

{% extends "base.html" %}
{% block title %}RecordTrac{% endblock title %}

{% block custom_css_links %}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock custom_css_links %}

{% block container %}

<div class="row-fluid">
	<div class="span8 offset2">
		<div class="row-fluid">
			<div class="span8">
				<h1 id="landing_brand">RecordTrac</h1>
				<h3>A better way to find public records.</h3>
			</div>
			<div class="span4">
				<img id="logo_landing" src="{{config['LOGO_ON_WHITE_URL']}}" alt="{{config['AGENCY_NAME']}} logo" width="130" height="130"/>
			</div>

		</div>
		<div class="row-fluid">
			<p class="lead">Use RecordTrac to tell the {{config['AGENCY_NAME']}} the type of documents you need. We display every message or record uploaded. You may find what you're looking for without having to submit a new request.  <a href="/about">Find out more…</a></p>
		</div>
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="row-fluid">
					<div class="span4">
						<div class="row-fluid">
							<a href="/requests" class="btn btn-link round_link">
								<img src="{{ url_for('static', filename='images/explore.png') }}" width="75px" class="center-image" alt="explore">
								<h4 class="text-center text-title">EXPLORE</h4>
								<p class="span10 offset1 text-center text-body">View <span id="request-count" class="badge badge-info">
									{% set all_record_requests = "Request" | get_objs %}
									{{ all_record_requests | count }}</span> past requests and counting.
								</p>
							</a>
						</div>
					</div>
					<div class="span4">
						<div class="row-fluid">
							<a href="/new" class="btn btn-link round_link">
								<img src="{{ url_for('static', filename='images/create.png') }}" width="100px" class="center-image" alt="create">
								<h4 class="text-center text-title">REQUEST</h4>
								<p class="span10 offset1 text-center text-body">Create a new public records request.</p>
							</a>
						</div>
					</div>
					<div class="span4">
						<div class="row-fluid">
							<a href="/track" class="btn btn-link round_link">
								<img src="{{ url_for('static', filename='images/track.png') }}" width="150px" class="center-image" alt="track">
								<h4 class="text-center text-title">TRACK</h4>
								<p class="span10 offset1 text-center text-body">Get real-time updates as we process your request.</p>
							</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- <div class="row-fluid">
			<img src="{{ url_for('static', filename='images/explore_request_track3.png') }}" class="center-image" width="85%" alt="request,track,explore"/>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p class="text-center text-title">EXPLORE</p>
				<p class="text-center text-body">View <span id="request-count" class="badge badge-info">
					{% set all_record_requests = "Request" | get_objs %}
					{{ all_record_requests | count }}</span> past requests and counting.</p>
			</div>
			<div class="span4">
				<p class="text-center text-title">REQUEST</p>
				<p class="text-center text-body">Create a new public records request.</p>
			</div>
			<div class="span4">
				<p class="text-center text-title">TRACK</p>
				<p class="text-center text-body">Get real-time updates as we process your request.</p>
			</div>
		</div> -->
		<div class="row-fluid">
			<div class="span4 offset4">
				<a href="#recent-requests" id="seedata" class="btn btn-large btn-block btn-primary">See how {{config['AGENCY_NAME']}}'s doing <i class="icon-arrow-down"> </i></a>
			</div>
		</div>
	</div>
</div>
</div><!-- end container div -->

<div class="row-fluid">
	<div class="well">
		<h3 id="recent-requests" class="text-center">{{config['AGENCY_NAME']}} Request Statistics</h3>
    <div class="span5 offset1">
      <div id="responses-freq-viz">
      </div>
    </div>
    <div class="span5">
      <div id="responses-time-viz">
      </div>
    </div>
    <div class="row-fluid">
			<div class="span8 offset2">
				<div class="row-fluid">
					<div id="disclaimer" class="offset2 span8 text-center">
						<p>NOTE: The resources within each department may be different.  Requests also vary in complexity, and may not be evenly spread among departments.</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span4 offset4">
						<a href="/requests" id="startmeup" class="btn btn-large btn-block btn-primary"><i class="icon-search"> </i>Start exploring now </a>
					</div>
				</div>
			</div>
		</div>
  </div>
<!-- block container closes div -->

{% endblock container %}

{% block footer %}
    <div id="footer" class="footer">
      <p class="text-center">For more information about this application or instructions on how to get the app for <em>your</em> agency, <a href="https://github.com/codeforamerica/recordtrac" target="_blank"> view project info and documentation</a>.</p>
      <p class="text-center">Made by the <a href="http://www.codeforamerica.org/apps/recordtrac/" target="_blank">Code for America 2013 Fellows</a> with the City of Oakland</p>
  	</div>
{% endblock footer %}

{% block custom_script_links %}

  
{% endblock custom_script_links %}