<!-- This template houses the baseline case information (request, documents, status, etc.) only. -->

{% extends "case.html" %}
{% block public_note %}
  <form name="public_note" class="form-inline response" id="public_note" method="post" action="/public_add_a_note">
    <div class="row-fluid">
      <input type="hidden" name="request_id" value="{{ req.id }}"/>
      <label class="control-label">Add a note <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Add a public note"| explain_action }}"><small><i class="icon-info-sign"></i></small></span></label>
      <textarea id="public_noteTextarea" name="note_text" class="input-xlarge" type="text" rows="3" placeholder="Use this field to note anything else the city should know about your request." required/></textarea>
      <button type="submit" class="btn btn-primary">Add note</button>
    </div>
  </form>
{% endblock public_note %}

{% block status %}
  {% set status = ( req | get_status('public') ) %}
  {% include '_manage_requests_status.html' %}
{% endblock status %}


