<!-- This template is to display success banner immediately after a new requests gets submitted. -->

{% extends "case.html" %}
{% block title %}Request {{ request_id }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block banner %}
  <!-- success banner -->
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <div class="span1 text-right"><i class="icon-ok-sign icon-2x"> </i></div>
    <div class="offset1">
      <p><strong>  Your request has been submitted!</strong></p>
      <p>You can expect a response from the City of Oakland in the next 10 days. You will be contacted via {{ (req.id | get_requester) | subscriber_phone }} with  any updates.</p>
      <p>All messages from the City and/or the information and documents you requested will be posted to this page.</p>
    </div>
  </div>
{% endblock banner %}


{% block content %}
  {{ super() }}
{% endblock content %}

