<!-- This template is to display success banner immediately after a new requests gets submitted. -->

{% extends "case.html" %}
{% block title %}OpenRecords - Request {{ request_id }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block banner %}
    <!-- success banner -->
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <div class="span1 text-right"><i class="icon-ok-sign icon-2x"> </i></div>
        <div class="offset1">
            <p><strong>You are now subscribed! </strong> You will be contacted via e-mail at with any updates to this
                request.
        </div>
    </div>
{% endblock banner %}




