{% extends "case.html" %}
{% block title %}OpenRecords - Request {{ req.id }}{% endblock %}
{% block custom_css_links %}
<!-- used for the extension and close request multi-select boxes in city view -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/manage_request_city_less_js.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bottom_sidebar.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/case.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jasny-bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}">
{% endblock custom_css_links %}

{% block requester_info %}
{% include '_requester_info.html' %}
{% endblock requester_info %}


{% block sidebar %}
{% include '_manage_request_sidebar.html' %}
{% endblock sidebar %}

{% block follow %}{% endblock follow %}

{% block custom_script_links %}
<script type="text/javascript" src="{{ url_for('static', filename='js/case.js') }}"></script>

<!-- used for the extension and close request multi-select boxes in city view -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.bootstrap-select.js') }}"></script>


<!-- For file uploads -->
<!--script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jasny-bootstrap.js') }}"></script-->

<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/jquery.ellipsis.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<!-- The basic File Upload plugin -->
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<!-- The File Upload processing plugin -->
<script src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script>


<script type="text/javascript">

        var uploadButton = $('<button/>')
            .addClass('btn btn-primary')
            .prop('disabled', true)
            .text('Processing...')
            .on('click', function () {
                var $this = $(this),
                    data = $this.data();
                $this
                    .off('click')
                    .text('Abort')
                    .on('click', function () {
                        $this.remove();
                        data.abort();
                    });
                data.submit().always(function () {
                    $this.remove();
                });
            });

$("#record").on('change', function (e, data) {
  var names = [];
  if($("input[name=record]") && $("input[name=record]").get(0) && $("input[name=record]").get(0).files) {
      for (var i = 0; i < $("input[name=record]").get(0).files.length; ++i) {
        names.push($("input[name=record]").get(0).files[i].name);
      }
  }
        $.each(names, function (index, file) {
            var node = $('<p>');
                    //.append($('<span/>').text(file));
            node.append('<tr class="template-upload fade">');
            node.append('<td>');
            node.append('<p class="name">' + file + '</p>');
            node.append('<strong class="error text-danger"></strong>');
            node.append('</td>');
            node.append('<td class="title">');
            node.append('<label>Title: <input class="title_text" name="title[]" required></label>');
            node.append('</td>');
            node.append('<tr>');
            node.append('<button class="btn btn-danger delete" type="button" onclick="parentNode.remove();"><i class="icon-remove icon-white"></i>&nbsp;<span>Cancel</span>&nbsp;</button>');
            node.append('</tr>')
            node.append('<tr>')
            node.append('<input type="checkbox" name="addAsEmailAttachment[]" id="addAttachment" style="display:inline-block;width:1em;margin-bottom:0.4em;"><label for"addAsEmailAttachment[]" style="display: inline-block;">Add to email');
            node.append('</tr>')
            if (!index) {
                node
                    .append('<br>')
                    .append(uploadButton.clone(true).data(data));
            }
            node.appendTo("#files");
        })});
</script>
{% endblock custom_script_links %}
