<!-- This template is for testing purposes. -->

{% extends "case.html" %}
{% block title %}Request {{ req.id }}{% endblock %}
{% block head %} {% endblock head %}

{% block status %} 
  <div class="row-fluid">
    <!-- popover -->

    <div class="pull-right">
      Routed to  
      <div class="btn-group">
        <div><a class="btn btn-info" data-placement="bottom" href="#" id="reroutePopover"> {{req.current_owner | owner_name}} <span class="caret"></span> </a></div>
        <div id="reroutePopover-head" class="hide">Reassign to:</div>
        <div id="reroutePopover-content" class="hide">              
          <form id="rerouteForm" class="form-inline" method ="post" action="">
            <!-- my form -->
            <div class="control-group">
              <div class="controls">
                <input id="rerouteEmail" type="email" name="owner_email" placeholder="name@email.com" required />
                <input id="rerouteReason" type="text" name="owner_reason" placeholder="Say why." />
                <button id="rerouteButton" class="btn" type="submit"> <i class="icon-envelope"> </i> </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <a data-placement="left" href="#" id="historyPopover"> <i class="icon-time hidden-phone hidden-tablet"></i>  </a>
      <div id="historyPopover-head" class="hide">Routing history</div>
      <div id="historyPopover-content" class="hide">              
        <table class="table table-condensed">
         <thead>
            <tr>
              <th>Date</th>
              <th></th>
              <th>To</th>
              <th>Note</th>
            </tr>
          </thead>
          <tbody>
            <!-- the order of data returned here should be reverse chonological (right now it's shown as oldest first)-->
            {% for owner in req.owners %}
              <tr>
                <td>{{ owner.date_created | date }}</td>
                <td><i class="icon-circle-arrow-right"></i></td>
                <td>{{ owner.id | owner_name }}</td>
                <td>{{ owner.reason }}</td>
              </tr>              
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
          
{% endblock status %}

{% block request %}
  {{ super() }}
        <!-- ask a question -->
      <form name="ask_question" class="form-horizontal" id="question" method="post" action="/add_a_qa" autocomplete="on">
        <fieldset> 
          <div class="row-fluid">
            <div class="span4">
              <h4>Ask a question <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Add a link" | explain_action}}"><small><i class="icon-info-sign"></i></small></span></h4>
            </div>
            <div>

              <div class="control-group">
                <label class="control-label">Question</label>
                <div class="row-fluid">
                  <div class="controls">
                      <textarea id="questionTextarea" name="question_text" rows="3" cols="20" placeholder="Ask the requester a question" required></textarea>
                    <button id="askQuestion" class="btn btn-primary" type="submit">Ask</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </fieldset>
      </form>
{% endblock request %}

{% block response %}
  {{ super() }}
{% endblock response %}

{% block actions %}
  <form name="input_doc" class="form-horizontal" id="submitRecord" method="post" action="/add_a_record" autocomplete="on" enctype="multipart/form-data" >
    <fieldset> 

      <div class="row-fluid">
        <div class="span4">
          <h4>Add a record <span id="recordTooltip" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Upload a document" | explain_action}}" ><small><i class="icon-info-sign"></i></small></span></h4>
        </div>
        <div class="span8">

          <div class="control-group">
            <label class="control-label" for="inputSummary">Summary</label>
            <div class="controls">
              <input class="input-block-level" name="record_description" type="text" id="inputSummary" placeholder="Add a short explanation of what you are attaching" autofocus/>
            </div>
          </div>
       
          <div class="control-group">
            <label class="control-label">Document</label>
            <div class="row-fluid">
              <div class="controls">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <input type="hidden" name="request_id" value="{{ req.id }}">
                  <div class="input-append">
                    <div class="uneditable-input span3">
                      <i class="icon-file fileupload-exists"></i> 
                      <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-file">
                      <span class="fileupload-new">Select file</span>
                      <span class="fileupload-exists">Change</span>
                      <input type="file" name="record">
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>

    <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
                    <button class="btn btn-primary fileupload-exists" type="submit">Attach</button>
                    <button class="btn btn-primary fileupload-new disabled" type="submit">Attach</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </fieldset>
  </form>

 <form name="input_url" class="form-horizontal" id="submitLink" method="post" action="/add_a_link" autocomplete="on">
    <fieldset> 
      <div class="row-fluid">
        <div class="span4">
          <h4>Add a link <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Add a link" | explain_action}}"><small><i class="icon-info-sign"></i></small></span></h4>
        </div>
        <div class="span8">

          <div class="control-group">
            <label class="control-label" for="inputSummary">Summary</label>
            <div class="controls">
              <input class="input-block-level" name="record_description" type="text" id="linkSummary" placeholder="Add a short explanation of what can be found here" />
              <input type="hidden" name="request_id" value="{{ req.id }}">
            </div>
          </div>
       
          <div class="control-group">
            <label class="control-label">Link</label>
            <div class="row-fluid">
              <div class="controls">
                  <input name="record_url" type="url" id="inputUrl" placeholder="Copy and paste link here" required/>
                <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
                <button id="addalink" class="btn btn-primary" type="submit">Attach</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </fieldset>
  </form>

<form name="note" class="form-horizontal" id="note" method="post" action="/add_a_note">
  <input type="hidden" name="request_id" value="{{ req.id }}"/>
  <fieldset> 

    <div class="row-fluid">
      <div class="span4">
        <h4>Add a note <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Add a note"| explain_action }}"><small><i class="icon-info-sign"></i></small></span></h4>
      </div>

      <div class="span8">

        <div class="control-group">
          <label class="control-label">Note</label>
          <div class="row-fluid">
            <div class="controls">
              <textarea id="noteTextarea" name="note_text" rows="3" cols="20" placeholder="Enter your note here" required></textarea>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </fieldset>
</form>

<form name="close" class="form-horizontal" id="closeRequest" method="post" action="/close">
  <input type="hidden" name="request_id" value="{{ req.id }}"/>
  <fieldset> 

    <div class="row-fluid">
      <div class="span4">
        <h4><div class="btn-group">
          <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
            Close this request
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li> <a href="#">Fulfilled</a></li>
            <li> <a href="#">Record does not exist</a> </li>
            <li> <a href="#">Can not release - privacy</a> </li>
            <li> <a href="#">Can not release - ongoing lawsuit</a> </li>
            <li> <a href="#">Can not release - investigative report</a> </li>
            <li> <a href="#">Requester no longer needs</a> </li>
          </ul>
        </div>
        <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Close a request" | explain_action}}"><small><i class="icon-info-sign"></i></small></span></h4>
      </div>
    </div>

  </fieldset>
</form>
    
{% endblock actions %}