<!-- This template is for testing purposes. -->

{% extends "case.html" %}
{% block title %}Request {{ req.id }}{% endblock %}
{% block head %} {% endblock head %}

{% block sidebar %}
  <div class="well well-small r_sidebar_banner r_sidebar-fixed hidden-phone hidden-tablet">
    <h4 class="text-center">Status</h4>
  </div>

  <div class="well b_sidebar r_sidebar-fixed hidden-phone hidden-tablet">
    <div class="row-fluid">
      <div class="span10">
        <h4>Point of Contact</h4>
        {% include '_contact_popover.html' %}
      </div>
      <div class="span2">
        <div class="popover-container"><a data-placement="left" href="#" id="reroutePopover"> <h4 class="text-right"><small><i class="icon-arrow-right"></i></small><i class="icon-user"></i></h4></a></div>
        {% include '_reroute.html' %}
      </div>      
    </div>

    <div class="row-fluid">
      <div class="span10">
        <h4>Helpers</h4>
        {% include '_staff_participants.html' %}
      </div>
      <div class="span2">
        <div class="popover-container"><a data-placement="left" href="#" id="notifyPopover"> <h4 class="text-right"><small><i class="icon-plus"></i></small><i class="icon-user"></i></h4></a></div>
        {% include '_add_person.html' %}
      </div>
    </div>
    <div class="row-fluid">
      <div>
        {% include '_history.html' %}
      </div>
    </div>
  </div>
{% endblock sidebar %}

{% block request_dates %}
{{super()}}
<div class="text-center">Due: <span class="label">{{ req.date_created | due_date(req.extended) }}</span></div>
{% endblock request_dates %}

{% block content %}

  <p class="text-right">Due: {{ req.date_created | due_date(req.extended) }} <span class="muted">(Submitted {{ req.date_created | date }})</span></p>
  {{ super() }}


  {% include '_response_widget.html' %}  



{% endblock content %}
{% block status %}
    <div class="pull-right">
      {% block routing %}
        Routed to  
        <div class="btn-group"  style="font-size:15px">
          {% set uid = "user_id" | get_attribute(req.current_owner, "Owner") %}
          <div class="popover-container"><a class="btn btn-info" data-placement="bottom" href="#" id="reroutePopover"> {{ "alias" | get_attribute(uid, "User") }} <span class="caret"></span> </a></div>
          <div id="reroutePopover-head" class="hide">Reassign to: <a class="close" href="#">&times;</a> </div>
          <div id="reroutePopover-content" class="hide">              
            <form id="rerouteForm" class="form-inline" method ="post" action="/update_a_owner">
              <!-- my form -->
              <div class="control-group">
                <div class="controls">
                  <input type="hidden" name="request_id" value="{{ req.id }}"/>
                  <input id="rerouteEmail" type="email" name="owner_email" placeholder="name@email.com" data-provide="typeahead" autocomplete="off" required />
                  <input id="rerouteReason" type="text" name="owner_reason" placeholder="Say why." required />
                  <button id="rerouteButton" class="btn" type="submit"> <i class="icon-envelope"> </i> </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      {% endblock routing %}
      {% block history %}
        {{ super() }}
      {% endblock history %}
    </div>

  {% endblock status %}

  {% block response_actions %}{% include '_response_widget.html' %}{% endblock response_actions %}

  {% block proxyrequester_info %}
    {{ super() }}
  {% endblock proxyrequester_info %}
  {% block requester_info %}
    <small>
      {% set sid = req.id | get_requester %}
      Requester's name: <span class="label">{{ "alias" | get_subscriber_attribute(sid) or "Not provided"}}</span> and phone number: <span class="label"> {{ "phone" | get_subscriber_attribute(sid) or "Not provided" }}</span>
    </small>
  {% endblock requester_info %}

  {% block clarify_request %}
        <!-- ask a question -->
        <!-- TODO-mike remove the display none -->
        <form name="ask_question" class="form-horizontal" id="question" method="post" action="/add_a_qa" autocomplete="on">
          <fieldset> 
            <div class="row-fluid">
                <h4>Ask a question about this request</h4>
              <div>

                <div class="control-group">
                  <label class="control-label">Question <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Ask a question" | explain_action }}"><small><i class="icon-info-sign"></i></small></span></label>
                  <div class="row-fluid">
                    <div class="controls">
                        <input type="hidden" name="request_id" value="{{ req.id }}"/>
                        <input id="questionTextarea" type="text" name="question_text" rows="3" cols="20" placeholder="Ask the requester a question" required/>
                      <button id="askQuestion" class="btn btn-primary" type="submit">Ask</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </fieldset>
        </form>
  {% endblock clarify_request %}

    
{% block actions %}

<div id="actions-container" style="display:none;">
  <!-- Add a record form -->
  <form name="input_doc" class="form-horizontal" id="submitRecord" method="post" action="/add_a_record" autocomplete="on" enctype="multipart/form-data">
  <input type="hidden" name="request_id" value="{{ req.id }}"/>
    <fieldset> 
      <div class="row-fluid">
          <h4>Add a record</h4>
          <div class="control-group">
            <label class="control-label" for="recordSummary">Summary</label>
            <div class="controls">
              <input class="input-xxlarge" name="record_description" type="text" id="recordSummary" placeholder="Add a short explanation of the record" required />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Upload a record <span id="recordTooltip" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Upload a document" | explain_action}}" ><small><i class="icon-info-sign"></i></small></span></label>
            <div class="row-fluid">
              <div class="controls">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <div class="input-append">
                    <div class="uneditable-input span3">
                      <i class="icon-file fileupload-exists"></i> 
                      <span class="fileupload-preview" />
                    </div>
                    <span class="btn btn-file">
                      <span class="fileupload-new">Select file</span>
                      <span class="fileupload-exists">Change</span>
                      <input type="file" name="record" />
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>              
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Or provide a link to a record <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Add a link" | explain_action}}"><small><i class="icon-info-sign"></i></small></span></label>
            <div class="row-fluid">
              <div class="controls">
                  <input name="link_url" id="inputUrl"/>
                <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Or indicate how the record can be accessed offline <span id="offlinedocTooltip" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Describe hard copies" | explain_action}}"><small><i class="icon-info-sign"></i></small></span></label>
            <div class="row-fluid">
              <div class="controls">
                <textarea class="input-xxlarge" id="offlineDoc_textarea" name="record_access" rows="3" placeholder="How can the requester get this record?  Ex. 'Sent via mail on a CD', 'Print out awaiting requester at City Clerk desk'" ></textarea>
              </div>
            </div>
          </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Add record</button>
          </div>
        </div>
      </div>
      
    </fieldset>
  </form>

  <!-- Add a note form -->
  <form name="note" class="form-horizontal" id="note" method="post" action="/add_a_note">
    <input type="hidden" name="request_id" value="{{ req.id }}"/>
    <fieldset> 
      <div class="row-fluid">
          <h4>Add a note</h4>
          <div class="control-group">
            <label class="control-label">Note <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Add a note"| explain_action }}"><small><i class="icon-info-sign"></i></small></span></label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="noteTextarea" name="note_text" rows="3" placeholder="Anything else the requester should know."required/>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Add note</button>
            </div>
          </div>
      </div>
    </fieldset>
  </form>

{% if req.extended %}
{% else %}
  <!-- Request an extension form -->
  <form name="extend_request" class="form-horizontal" id="extension" method="post" action="/add_a_extension">
    <input type="hidden" name="request_id" value="{{ req.id }}"/>
    <fieldset>
      <div class="row-fluid">
        <h4>Request an extension</h4>
        <div class="control-group">
          <label class="control-label">Reason <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Request an extension"| explain_action }}"><small><i class="icon-info-sign"></i></small></span></label>
            <div class="controls">
              <select id="extend_reasons" name="note_text" class="selectpicker" multiple required data-selected-text-format="count">
                <option value="{{"Extension - Large Amount" | explain_action("What")}}">Large amount</option>
                <option value="{{"Extension - Separate Facility" | explain_action("What")}}">Separate facility</option>
                <option value="{{"Extension - Another Agency" | explain_action("What")}}">Another agency</option>
                <option value="{{"Extension - Data" | explain_action("What")}}">Data extraction</option>
              </select>
              <p class="help-block">You can select multiple reasons by using Ctrl (Win) or ⌘ (Mac).</p>
            </div>
        </div> 
        <div class="control-group">
          <div class="controls">
            <button id="extendRequest" class="btn btn-primary" type="submit">Request an extension</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
{% endif %}

  <!-- Close request form -->
  <form name="close" class="form-horizontal" id="closeRequest" method="post" action="/close">
    <input type="hidden" name="request_id" value="{{ req.id }}"/>
    <input type="hidden" name="close_reason"/>
    <fieldset> 
      <div class="row-fluid">
        <h4>Close this request </h4>
        <div class="control-group">

          <label class="control-label">Reason <span rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{"Close a request"| explain_action }}"><small><i class="icon-info-sign"></i></small></span></label>
            <div class="controls">
              <select id="close_reasons" name="close_reasons" multiple="multiple" size="8" class="input-xxlarge" required>
                <option value="{{"Fulfilled" | explain_action("What")}}">Fulfilled</option>
                <option value="{{"Not a public records request" | explain_action("What")}}">Not a public records request</option>
                <option value="{{"Record Does Not Exist" | explain_action("What")}}">Do not have this record</option>
                <option value="{{"Can Not Release" | explain_action("What")}}">Can Not Release</option>
                <option value="{{"Requester Not Interested" | explain_action("What")}}">Requester Not Interested</option>
              </select>
              <p class="help-block">You can select multiple reasons by using Ctrl (Win) or ⌘ (Mac).</p>
            </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <!-- Button to trigger modal -->
            <a id="closeRequest_button" href="#closeModal" role="button" class="btn btn-inverse" data-toggle="modal" >Close request...</a>
             
            <!-- Modal -->
            <div id="closeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="closeModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="closeModalLabel">Reason for closing</h3>
              </div>
              <div class="modal-body">
                <!-- NOTE: need to remove the line breaks in the CODE in textarea in order to remove the funky indentation -->
                <textarea id="closeTextarea" class="input-block-level" rows="10"></textarea>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button id="closeButton" type="submit" class="btn btn-inverse">Close this request</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock actions %}


{% block custom_script_links %}
  <!-- Listed in case instead of manage_request_city for truncation -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/manage_request_city.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/manage_request_city.css') }}">

  <!-- For response_widget partial -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/_response_widget.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/_response_widget.js') }}"></script>

  <!-- For sidebar styling -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bottom_sidebar.css') }}">
  
  <!-- For bootstrap select -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/custom.bootstrap-select.js') }}"></script>
{% endblock custom_script_links %}
