<!-- This template is to display success banner immediately after a new requests gets submitted. -->

{% extends "case.html" %}
{% block title %}Request {{ request_id }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block banner %}
  <!-- success banner -->
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <div class="span1 text-right"><i class="icon-ok-sign icon-2x"> </i></div>
    <div class="offset1">
      <p><strong>  Your request has been submitted!</strong></p>
      {% set requester = req.requester() %}
      {% if (requester) %}
        {% set email = requester.user.email %}
      {% endif %}
      <p>You can expect a response from the {{config['AGENCY_NAME']}} in the next 10 days.
      {% if email %} You will be contacted via e-mail with any updates.
      {% else %} You did not provide an e-mail address so you will have to visit this page for updates. {% endif %}</p>
      <p>All messages from the {{config['AGENCY_NAME']}} and/or the information and documents you requested will be posted to this page. You can access <a href ="{{request.path}}">this page</a> at any time.</p>
    </div>
  </div>
{% endblock banner %}



