{% extends "base.html" %}
{% block content %}
	<div class="alert alert-block alert-error span8">
	    <div class="span1 text-right"><i class="icon-exclamation icon-2x"> </i></div>
	    <div class="offset1">
			<h4 class='alert-heading'>Oops, you forgot to provide an email address.</h4>
			<p> We're experiencing higher spam traffic than usual, so at this time you'll have to provide an e-mail address. Thanks! </p>
			<!-- <p>Enter an email if you have one.  We need it to let you know when your record is ready.</p> -->
<!-- 			<div id='include_email'>
				<form class="form-inline" name ="input" method="post" action="/new">
					<input type = "hidden" name = "request_text" value = "{{form.request_text}}"/>
					<input type="hidden"name = "request_alias" value = "{{form.request_alias}}"/>
					<input type = "hidden" name = "request_phone" value = "{{form.request_phone}}"/>
					<input type="hidden" name="request_department" value = "{{form.request_department}}"/>
					<input name="request_email" type="email" id="inputEmail" placeholder="yourname@email.com" />
					<input type = "hidden"name = "ignore_email"/>
			   	<button id='submit' class='btn btn-primary' type='submit'>Submit my request</button>
			   </form>
			</div> -->
		</div>
    </div>
{% endblock content %}

