<!-- This template is to initiate a new request. -->
{% extends "base.html" %} {% set active_page="new" %} {% from 'help_text.html' import help %} {% block title %}Public records{% endblock title %} {% block custom_css_links %}
<!-- used for department dropdown -->

<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/plugins/jquery-ui-1.10.4.custom.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/plugins/jquery-ui.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/sidebar.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/new_request.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/plugins/bootstrap-fileupload.css') }}">
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='css/case.css') }}">
{% endblock custom_css_links %} {% block container %}
<!-- start of static form -->
<div class="row-fluid">
    <div class="span8">
        <h1>Request a Record</h1>

        <p>Please make your request specific so you receive the fastest service.
            After you submit a FOIL request you will receive a confirmation
            number so you can track the status of the response. The agency will
            notify you about how much time is required to
            respond to your request.</p>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <form name="newrequest" class="form-horizontal" id="submitRequest"
                  method="post" action="/new" autocomplete="off"
                  novalidate="novalidate" enctype="multipart/form-data">
                <fieldset>
                    <div class="row-fluid">
                        <div class="span8">
                           <div class="control-group">
                                <h2>
                                    <small id='categoryTitle' >Category</small>
                                </h2>
                                    <select id="category" class="input-block-level">
                                        <option selected value></option>
                                        <option>Business</option>
                                        <option>Civic Services</option>
                                        <option>Culture and Recreation</option>
                                        <option>Education</option>
                                        <option>Environment</option>
                                        <option>Government Administration</option>
                                        <option>Health</option>
                                        <option>Housing</option>
                                        <option>Public</option>
                                        <option>Social</option>
                                        <option>Transportation</option>
                                    </select>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span8">
                            <div class="control-group">
                                <h2>
                                    <small>What agency has the records you
                                        want?*
                                    </small>
                                </h2>
                                </div>
                                <select id="agency" name="request_agency" class="input-block-level">
                                    <option selected value></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="control-group">
                                <h2>
                                    <small>Request Title*</small>
                                </h2>
                                {{
                                form.request_summary(class="input-block-level",
                                rows="2", id="request_summary",
                                placeholder="Please provide the name of your request" ) }}
                                <div id="summary_count"></div>
                            </div>
                        </div>
                        <div class="span4">
                            <br/>

                            <div class="sideblock">
                                <h3>Example Title</h3>

                                <p>Public Advocate Emails from 2015</p>

                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="control-group">
                                <h2>
                                    <small>Request*</small>
                                </h2>
                                {{
                                form.request_text(class="input-block-level",rows="6",id="request_text",placeholder="Provide more information about your request to help the City locate the record. If you don’t know the record name, describe the type of information you think it would contain and the approximate date range. Do not include private info – such as social security number or credit card number." ) }}
                            </div>
                        </div>
                        <div class="span4">
                            <br/>

                            <div class="sideblock">
                                <h3>Example Request</h3>

                                <p>&nbsp;</p>

                                <p>Emails that mention bike lanes or bicycle
                                    lanes from the Public Advocate's Office
                                    between July 27, 2015 and September 10,
                                    2015</p>

                                <p>&nbsp;</p>
                            </div>
                            <h5>Note: The details of your request will not be
                                visible to the public.</h5>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <h2>
                                <lead>Personal Information</lead>
                            </h2>
                            <p>This information will not be publicly viewable on
                                this site. You must provide contact information
                                so that the agency can respond to your request
                                for records.</p>

                            <div class="missing_field alert alert-danger"
                                id="missing_contact_information">
                                At least one form of contact information needed.
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="row-fluid">
                                <div class="control-group span6">
                                    <h2>
                                        <small>{{
                                            form.request_first_name.label.text
                                            }}
                                        </small>
                                    </h2>
                                    {{
                                    form.request_first_name(id="request_first_name",
                                    class="input-block-level", type="text",
                                    placeholder="John") }}
                                </div>
                                <div class="control-group span6">
                                    <h2>
                                        <small>{{
                                            form.request_last_name.label.text }}
                                        </small>
                                    </h2>
                                    {{
                                    form.request_last_name(id="request_last_name",
                                    class="input-block-level", type="text",
                                    placeholder="Doe")}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span8">
                            <div class="control-group">
                                <h2>
                                    <small>{{ form.request_email.label.text }}
                                    </small>
                                </h2>
                                {{ form.request_email(class="input-block-level"
                                , type="email" ,
                                placeholder="requester@email.com") }}
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="control-group">
                                <h2>
                                    <small>{{ form.request_role.label.text }}
                                    </small>
                                </h2>
                                {{ form.request_role( class="input-block-level",
                                type="text", placeholder="Your role in your organization (if applicable)" ) }}
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="control-group">
                                <h2>
                                    <small>{{
                                        form.request_organization.label.text }}
                                    </small>
                                </h2>
                                {{
                                form.request_organization(class="input-block-level",
                                type="text", placeholder="Your organization (if applicable)") }}
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span8">
                            <h3>
                                Alternate Contact Information
                            </h3>


                            <p>No information entered in this section will be
                                visibile to the public.</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="control-group">
                                <h2>
                                    <small>{{ form.request_phone.label.text }}
                                    </small>
                                </h2>
                                {{ form.request_phone(class="input-block-level",
                                type="tel", placeholder="(555) 555-5555")}}
                                <h2>
                                    <small>{{ form.request_fax.label.text }}
                                    </small>
                                </h2>
                                {{form.request_fax(class="input-block-level",
                                type="tel", placeholder="(555) 555-5555")}}
                                <h2>
                                    <small>Address</small>
                                </h2>
                                <small>{{
                                    form.request_address_street_one.label.text
                                    }}
                                </small>
                                {{form.request_address_street_one(class="input-block-level",
                                type="text", placeholder="123 Main Street")}}
                                <small>{{
                                    form.request_address_street_two.label.text
                                    }}
                                </small>
                                {{form.request_address_street_two(class="input-block-level",
                                type="text", placeholder="Apartment 3D")}}
                                <div class="row-fluid">
                                    <div class="span5">
                                        <small>{{
                                            form.request_address_city.label.text
                                            }}
                                        </small>
                                        <div class="spacer">
                                            {{
                                            form.request_address_city(class="input-block-level",
                                            type="text", placeholder="New
                                            York")}}
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <small>{{
                                            form.request_address_state.label.text
                                            }}
                                        </small>
                                        <div class="spacer">
                                            {{
                                            form.request_address_state(class="input-block-level
                                            combobox") }}
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <small>{{
                                            form.request_address_zip.label.text
                                            }}
                                        </small>
                                        <div class="spacer">
                                            {{form.request_address_zip(class="input-block-level",type="text",
                                            placeholder="12345")}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if config['ENVIRONMENT'] != 'LOCAL' %} {{ recaptcha }} {%
                    endif %}
                    <div id="requestButton" class="spacer">
                        <button id="button2" title="submit_request_button"
                                class="btn btn-primary btn-large input-block-level">
                            Submit request
                        </button>
                    </div>
                </fieldset>


            </form>
        </div>

        <div class="span4">

        </div>
    </div>
</div>
<!-- end of static form -->
{% endblock container %} {% block custom_script_links %}
<!-- used for department dropdown -->
<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/jquery-ui-1.10.4.custom.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/new_request.js') }}"></script>
{% if date %}
<script type="text/javascript">
    $(document).ready(function () {
        $("input[id^='request_date']").datepicker().val("{{ date }}");
    });
</script>
{% else %}
<script type="text/javascript">
    $(document).ready(function () {
        $("input[id^='request_date']").datepicker().val('');
    });
</script>
{% endif %}
<script type="text/javascript"
        src="{{ url_for('static', filename = 'js/newrequestform.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename = 'js/validate.js') }}"></script>
{% endblock custom_script_links %}IE
