<!-- This template is to initiate a new request. -->

{% extends "base.html" %}
{% from 'help_text.html' import help %}

{% block title %}Public records{% endblock title%}
{% block custom_css_links %}
	<!-- used for the extension and close request multi-select boxes in city view -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.css') }}">
	<!-- used for department dropdown -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui-1.10.4.custom.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-combobox.css') }}"media="screen">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/new_request.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-fileupload.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/case.css') }}">
{% endblock custom_css_links %}
{% block container %}
    <div class="row-fluid">
        <div class="span11 offset1">
            <div class="row-fluid">
                <div class="span7">
                    <div class="row-fluid">
                        <div class="span8">
							{% for message in errors %}
                                <div class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
									{{ message }}
                                </div>
							{% endfor %}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span10">
                            <h3>Create a New Request</h3>
                            <p class="intro_text">
                                Use this page to request public records that you received by phone, fax, mail, email, or in person on behalf of a resident.
                            </p>
                            <br/>
                            <form name="input" class="form-horizontal" id="submitRequest" method="post" action="/new" autocomplete="off" novalidate="novalidate" enctype="multipart/form-data">

                                <fieldset>
                                    <div class="control-group">
                                        <h1><small>What is the topic of your request?*</small></h1>
                                        {{ form.request_summary(rows="3", class="input-block-level", placeholder="Please provide a short summary of your request") }}
                                    </div>

                                    <div class="control-group">
                                        <h1><small>&nbsp;{{ form.request_text.label.text}}</small></h1>
                                        <div>
											{{ form.request_text(rows="3", class="input-block-level", placeholder="Describe your request. Be as specific as possible.") }}
											{{ help("requestTextPopover-content", "Enter records request") }}
                                        </div>
                                    </div>

                                    <h1><small>Receipt Information</small></h1>
                                    <div class="control-group">
										{{ form.request_format.label.text }}
                                        <div class="spacer">
											{{ form.request_format(class="input-block-level") }}
                                        </div>
										{{ form.request_date.label.text }}
                                        <div class="spacer">
											{{ form.request_date(class ="input-block-level") }}
                                        </div>
                                    </div>
                                    <!-- upload a record -->
                                    <!-- name of record -->
                                    <div class="control-group">
                                        <h1><small>Attach documentation</small></h1>
                                            <!-- upload a record -->
                                            {{ form.request_attachment_description.label.text }}
                                            <textarea class="input-xxlarge" name="record_description" type="text" id="recordSummary" placeholder="Add a short explanation of the record" required /></textarea>

                                            {{ form.request_attachment.label.text }}

                                           <div class="fileupload fileupload-new" data-provides="fileupload">
                                               <div class="input-append">
                                               <!-- <div class="uneditable-input">
                                                   <i class="icon-file fileupload-exists"></i>
                                                   <span class="fileupload-preview" />
                                                   </div> -->
                                               <span class="btn btn-file">
                                                   <span class="fileupload-new">Select file</span>
                                                   <span class="fileupload-exists">Change</span>
                                                   <input type="file" name="record" />
                                               </span>
                                               <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                               </div>
                                          </div>

                                    </div>

                                    <div class="control-group">
										<h1><small>{{ form.request_agency.label.text}} </small></h1>
										{{ form.request_agency(class="input-block-level") }}
                                    </div>
                                    <div class="control-group">
										<h1><small>{{ form.request_first_name.label.text }}</small></h1>
                                        <div class="spacer">
											{{ form.request_first_name(class="input-block-level", type="text", placeholder="John") }}
											{{ help("namePopover-content", "Enter name") }}

                                        </div>
                                    </div>
                                    <div class="control-group">
                                                                                <h1><small>{{ form.request_last_name.label.text }}</small></h1>
                                        <div class="spacer">
                                                                                        {{ form.request_last_name(class="input-block-level", type="text", placeholder="Doe") }}
                                                                                        {{ help("namePopover-content", "Enter name") }}

                                        </div>
                                    </div>

                                    <h1><small>Contact information</small></h1>
                                    <div class="control-group">
                                        <p style="font-size: 18px; font-weight: 200;"><strong>Please Note:</strong> At least one method of communication is required</p>
										<p class="lead">{{ form.request_email.label.text}}</p>
                                        <div class="spacer well" style="background-color: #FFFFFF;">
											{{ form.request_email(class="input-block-level", type="email", placeholder="requester@email.com") }}
											{{ help("emailPopover-content", "Enter email address") }}
                                        </div>
										<p class="lead">{{ form.request_phone.label.text}}</p>
                                        <div class="spacer spacer_phone well" style="background-color: #FFFFFF;">
											{{ form.request_phone(class="input-block-level", type="tel", placeholder="(555) 555-5555") }}
											{{ help("phonePopover-content", "Enter phone number") }}
                                        </div>
                                        <p class="lead">{{ form.request_fax.label.text}}</p>
                                        <div class="spacer spacer_phone well" style="background-color: #FFFFFF;">
											{{ form.request_fax(class="input-block-level", type="tel", placeholder="(555) 555-5555") }}
											{{ help("phonePopover-content", "Enter phone number") }}
                                        </div>
                                        <p class="lead">Address</p>
                                        <div class="well" style="background-color: #FFFFFF;">
											{{ form.request_address_street.label.text}}
                                            <div class="spacer">
												{{ form.request_address_street(class="input-block-level", type="text", placeholder="123 Main Street") }}
												{{ help("streetPopover-content", "Enter street") }}
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
													{{ form.request_address_city.label.text}}
                                                    <div class="spacer">
														{{ form.request_address_city(class="input-block-level", type="text", placeholder="New York") }}
														{{ help("cityPopover-content", "Enter city") }}
                                                    </div>
                                                </div>
                                                <div class="span3">
													{{ form.request_address_state.label.text}}
                                                    <div class="spacer">
														{{ form.request_address_state(class="input-block-level combobox", default="33") }}
														{{ help("statePopover-content", "Enter state") }}
                                                    </div>
                                                </div>
                                                <div class="span3">
													{{ form.request_address_zip.label.text}}
                                                    <div class="spacer">
														{{ form.request_address_zip(class="input-block-level", type="text", placeholder="12345") }}
														{{ help("zipPopover-content", "Enter zip") }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="terms_of_use">
                                        <p class="lead">{{ form.terms_of_use.label.text }}&nbsp;{{ form.terms_of_use }}</p>
                                    </div>
                                    <div id="requestButton" class="control-group">
                                        <div>
                                            <button type="submit" title="submit_request_button" class="btn btn-primary btn-large input-block-level">Submit request</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <div class="row-fluid">
						{% block sidebar %}
                            <div class="well r_sidebar hidden-phone">
                                <h4>Example</h4>
                                <!-- needs to be hooked up to prr_help.json PLEASE DELETE THIS COMMENT WHEN DONE -->
                                <p class="example">I need a copy of the Mayor’s emails sent to the Department of Transportation between July 30, 2013 and August 8, 2013.</p><p class="example">The emails should contain the words “bridge project” or “bridge development”.</p>
                                <h4>Tips</h4>
                                <ul>
                                    <li>Don't reveal personal information, like your social security number or home address.</li>
                                    <li>Limit your request by a date range.</li>
                                    <li>Provide the name of the record or take a guess.</li>
                                    <li>If you don't know the name of the record, describe the information you believe is contained in it.</li>
                                </ul>
                            </div>
						{% endblock sidebar %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock container %}

{% block custom_script_links %}
	<!-- used for department dropdown -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/plugins/bootstrap-combobox.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_request.js') }}"></script>
	{% if date %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("input[id^='request_date']").datepicker();
                $("input[id^='request_date']").val("{{ date }}");
            });
        </script>
	{% else %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("input[id^='request_date']").datepicker();
                $("input[id^='request_date']").val('');
            });
        </script>
	{% endif %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.combobox').combobox();
        });
    </script>

    <!-- For file uploads -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-fileupload.js') }}"></script>
{% endblock custom_script_links %}
