<html>

<body>
<div style="background-color:#FFF;width:100%;margin:0px; padding:0px">
	<div style="padding:20px;">
		<div style="padding:8px;background-color:#EEE;-moz-border-radius:7px;-webkit-border-radius:7px;">
			<div style="clear:both;">
				<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 14px;">

	<p>
		Your password has been reset. To log in, use your city e-mail address and the temporary password below: <a href='{{page}}'>{{page}}</a>
		</br>
		Temporary password: </br>
		{{ password }} </br></br>
	<p>	
<br/>  
<hr>
<br />
<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 11px;">
<center>
<i>For more information about RecordTrac, visit <a href="http://postcode.io/recordtrac">PostCode.io</a>.</i>
</center>
</span>
</p>

		</span></span></div>
		</div>
	</div>
</div>
</body>
<footer>

<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 11px;">
<center>
<img src="{{url_for('static', filename='images/CityTree_logo_green.jpg')}}" width="50" height="40" /> <br /> <br />

The City of Oakland <br/>
1 Frank H. Ogawa Plaza <br/>
Oakland, CA 94612 <br />
Phone Number: (510) 444-CITY 

</center>
<span>
</div>
</footer>
</html>