<html>

<body>
<div style="background-color:#FFF;width:100%;margin:0px; padding:0px">
  <div style="padding:20px;">
    <div style="padding:8px;background-color:#EEE;-moz-border-radius:7px;-webkit-border-radius:7px;">
      <div style="clear:both;">
        <span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 14px;">

<p>
    {% trans %}Your password has been reset.{% endtrans %}
    {% trans %}To log in, use your agency's e-mail address and the temporary password below:{% endtrans %} <a href='{{page}}'>{{page}}</a>
    </br>
    {% trans %}Temporary password:{% endtrans %} </br>
    {{ password }} </br></br>
    <p> {% trans %}After logging in with the temporary password, please <a href = '{{page}}update_password'>update your password.</a>{% endtrans %}
</p>
<br/>
<p>
<hr>
<br />
<br />
<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 11px;">
</span>
</p>

    </span></span></div>
    </div>
  </div>
</div>
</body>
<footer>

<span style="font-family: arial,helvetica,sans-serif;"><span style="color: rgb(51, 51, 51); font-size: 11px;">
<span>
</div>
</footer>
</html>
