<!-- This template is for the landing page. -->

{% extends "base.html" %}
{% block title %}Captcha{% endblock title %}

{% block container %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/recaptcha.css') }}">

<div class="row-fluid">
  <div class="span10 offset1">
    <div id="recaptcha_message" class="row-fluid">
      {{ message }}
    </div>
    <div id="recaptcha" class="row-fluid">
      <form name="input" action="/recaptcha" method="POST">
        <fieldset>
           <script type="text/javascript"
               src="http://www.google.com/recaptcha/api/challenge?k={{public_key}}">
            </script>
            <noscript>
               <iframe src="http://www.google.com/recaptcha/api/noscript?k={{public_key}}"
                   height="300" width="500" frameborder="0"></iframe><br>
               <textarea id = "recaptcha_challenge_field" name="recaptcha_challenge_field" rows="3" cols="40">
               </textarea>
               <input type="hidden" id="recaptcha_response_field" name="recaptcha_response_field"
                   value="manual_challenge">
            </noscript>
            {% if form %}
            	<input type = "hidden" name = "request_text" value = "{{form.request_text}}"/>
          	<input type="hidden"name = "request_alias" value = "{{form.request_alias}}"/>
          	<input type = "hidden" name = "request_phone" value = "{{form.request_phone}}"/>
          	<input type="hidden" name="request_department" value = "{{form.request_department}}"/>
          	<input type="hidden" name="request_email" value="{{form.request_email}}" />
          	{% endif %}

          <button type="submit" class="btn btn-primary" value="Submit">Submit my request</button>
          <!-- <input type="submit" value="Submit"> -->
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock container %}

