{% extends "base.html" %}
{% set active_page="report" %}
{% block container %}

<style>
	#tooltip {
		position: absolute;
		width: 95px;
		height: auto;
		padding: 10px;
		background-color: white;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		pointer-events: none;
	}
#tooltip.hidden {
	display: none;
}
#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 16px;
}
.indent{
	padding-left: 5px;
}
.heading{
	font-weight: bold;
}
value{
	color: red;
	font-style: italic;
}
rect {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
rect:hover{
	fill: orange;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}


</style>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/d3pie.min.js') }}"></script>

<div class="row-fluid">
    <div class="span10">
		{% block banner %}
			{{ super() }}
		{% endblock banner %}

		<!--div id="report_div"></div-->
		<div id="bar_chart"></div>
		<br>
		<button id="calendarYear" type="submit" class="btn btn-primary">Calendar Year</button>
		<button id="fullYear" type="submit" class="btn btn-primary">Year to Date</button>
        <button id="rolling" type="submit" class="btn btn-primary">Rolling 365</button>
		<h5>Agency Filter</h5>
		<select id="agency_filter" name="agency_filter">
			<option value="0">None Selected</option>
			<option value="1">Department of Records and Information Services</option>
			<option value="2">Office of the Chief Medical Examiner</option>
			<option value="3">Mayor's Office</option>
			<option value="4">Department of Education</option>
			<option value="5">Department of Information Technology and Telecommunications</option>
			<option value="5">Deputy Mayor</option>
		</select>
        {%  if current_user.is_authenticated %}
		<h5>Staff Filter</h5>
		<select id="staff_filter" name="staff_filter">
			    <option value="0">None Selected</option>
				{% for user in users %}
					{% if user.alias and user.is_staff %}
						<option value="{{ user.id }}">{{ user.alias}}</option>
					{% endif %}
				{% endfor %}
		</select>
        {% endif %}

        <br />
		
		<script type="text/javascript">

			function draw_barchart(reportPath) {
				
				$("#bar_chart").empty();
				var w = 500, h = 100;
				var svg = d3.select("#bar_chart").append("svg").attr("width",w).attr("height",h);
				
				d3.json(reportPath, function(report_data) {
						var margin = {
						top: 25,
						right: 75,
						bottom: 85,
						left: 85
						},
						w = 600 - margin.left - margin.right,
						h = 350 - margin.top - margin.bottom;
						var padding = 10;
						
						var colors = {};
						colors["Received"] = "#278ECF";
						colors["Published"] = "#4BD762";
						colors["Denied"] = "#FFCA1F";
						colors["Granted And Closed"] = "#FF9416";
                                                colors["Granted In Part"] = "#D42AE8";
                                                colors["No Customer Response"] = "#535AD7";
                                                colors["Out of Jurisdiction"] = "#FF402C";
					        colors["Referred to NYC.gov"] = "#83BFFF";
                                                colors["Referred to Open Data"] = "#6EDB8F";
                                                colors["Referred to Other Agency"] = "#FFE366";
                                                colors["Referred to Publications Portal"] = "#FFC266";
	
						var dataset = report_data.data;
						
						var xScale = d3.scale.ordinal()
						.domain(d3.range(dataset.length))
						.rangeRoundBands([0, w], 0.05);
						// ternary operator to determine if global or local has a larger scale
						var yScale = d3.scale.linear()
						.domain([0, d3.max(dataset, function (d) {
										   return d.value;
										   })])
						.range([h, 0]);
						var xAxis = d3.svg.axis()
						.scale(xScale)
						.tickFormat(function (d) {
									return dataset[d].label;
									})
						.orient("bottom");
						var yAxis = d3.svg.axis()
						.scale(yScale)
						.orient("left")
						.ticks(5);
						
						var commaFormat = d3.format(',');
						
						//SVG element
						var svg = d3.select("#bar_chart")
						.append("svg")
						.attr("width", w + margin.left + margin.right)
						.attr("height", h + margin.top + margin.bottom)
						.append("g")
						.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
						
						// Graph Bars
						var sets = svg.selectAll(".set")
						.data(dataset)
						.enter()
						.append("g")
						.attr("class", "set")
						.attr("transform", function (d, i) {
							  return "translate(" + xScale(i) + ",0)";
							  });
						
						sets.append("rect")
						.attr("class", "OverDue")
						.attr("width", xScale.rangeBand() / 2)
						.attr("y", function (d) {
							  return yScale(d.value);
							  })
						.attr("x", xScale.rangeBand() / 2)
						.attr("height", function (d) {
							  return h - yScale(d.value);
							  })
						.attr("fill", function (d) {
							  return colors[d.label];
							  })
						;
						
						
						// xAxis
						svg.append("g") // Add the X Axis
						.attr("class", "x axis")
						.attr("transform", "translate(0," + (h) + ")")
						.call(xAxis)
						.selectAll("text")
						.style("text-anchor", "end")
						.attr("dx", "-.8em")
						.attr("dy", ".15em")
						.attr("transform", function (d) {
							  return "rotate(-25)";
							  });
						// yAxis
						svg.append("g")
						.attr("class", "y axis")
						.attr("transform", "translate(0 ,0)")
						.call(yAxis);
						// xAxis label
						svg.append("text")
						.attr("transform", "translate(" + (w / 2) + " ," + (h + margin.bottom - 5) + ")")
						.style("text-anchor", "middle")
						.text("Request Type");
						
						//yAxis label
						svg.append("text")
						.attr("transform", "rotate(-90)")
						.attr("y", 0 - margin.left)
						.attr("x", 0 - (h / 2))
						.attr("dy", "1em")
						.style("text-anchor", "middle")
						.text("# of Requests");
						
						});
						
			}
		
			draw_barchart("/api/report/all/all");

			$("#calendarYear").click(function() {
			    draw_barchart("/api/report/all/calendarYear");
			});

			$("#fullYear").click(function() {
			    draw_barchart("/api/report/all/fullYear");
			});
			
			$("#rolling").click(function() {
				draw_barchart("/api/report/all/rolling");
			});
			
			$("#agency_filter").change(function() {
				selected = $(this).val();

				draw_barchart("/api/report/all/agency_" + selected);
			});
			$("#staff_filter").change(function() {
				selected = $(this).val();

				draw_barchart("/api/report/all/staff_" + selected);
			});


		</script>

	</div>
</div>
{% endblock container %}
