{% extends "base.html" %}
{% block container %}

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="row-fluid">
			{% if after_reset %}
				{% if reset_success %}
					<p>We've sent you an email with instructions to reset your password.</p>
					<p>If you don't see the email, please check to make sure it didn't wind up in your Junk Mail. If you aren't receiving our password reset emails, please reach out to <a href="{{config['DEFAULT_OWNER_EMAIL']}}?">our team</a>.</p>
				{% else %}
					<p>Looks like you're not a user already. Currently, this system requires logins only for city employees.</p>
				{% endif %}
			{% else %}
			<h3>Reset your password</h3>
			<p>Enter your email address and we'll send you a temporary login.</p> 
			
			    <form class="" method="post" id="passwordForm" action="/reset_password">
			    	<fieldset>
			          <div class="row-fluid">
			            <!-- <h4>Add a note</h4> -->
			            <div class="span4">
				            <div class="control-group">
				              <div class="controls">
				              	<input type="email" class="input-block-level" name="email" placeholder="yourname@email.com">
				              </div>
				            </div>
				            <div class="control-group">
				              <div class="controls">
				                <button type="submit" class="btn btn-primary btn-span" value="Reset">Send email</button>
				              </div>
				            </div>
			        	</div>
			          </div>
			        </fieldset>			        
			    </form>
			  {% endif %}
		    {% block contact %}
				</br>
				</br>
				 <p>
				  If a password reset still doesn't help, please reach out to <a href="{{config['DEFAULT_OWNER_EMAIL']}}?">our team</a>.
				</p>
			{% endblock contact %}
    	</div>
	</div>
</div>






{% endblock container %}

