{% extends "base.html" %}
{% block container %}

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="row-fluid">
      {% if after_reset %}
        {% if reset_success %}
        <p>{% trans %}Your password has been successfully reset.{% endtrans %}</p>
        <p>{% trans %}Please check your email for a temporary password.{% endtrans %}</p>
        {% else %}
        <p> {% trans %}There was an issue resetting your password.{% endtrans %}</p>
        <p> {% trans %}Most likely, you are not a user in the system.{% endtrans %}</p>
        {% endif %}
      {% else %}
      <h3>{% trans %}Reset your password{% endtrans %}</h3>
      <p>{% trans %}Type your email address in the field:{% endtrans %}</p>
      <p>{% trans %}Once you click on the "Reset" button, an email will be sent to you. The email will contain a temporary password that you can use to log into RecordTrac.{% endtrans %}</p>
          <form class="" method="post" id="passwordForm" action="/reset_password">
            <fieldset>
                <div class="row-fluid">
                  <!-- <h4>Add a note</h4> -->
                  <div class="control-group">
                    <div class="controls">
                      <input type="email" class="input-large" name="email" placeholder="{% trans %}name@email.com{% endtrans %}">
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-primary" value="Reset">{% trans %}Reset{% endtrans %}</button>
                    </div>
                  </div>
                </div>
              </fieldset>
          </form>
        {% endif %}
        {% block contact %}
      </br>
        </br>
         <p>
          {% trans owner_email=config['DEFAULT_OWNER_EMAIL'] %}If a password reset still doesn't help, please reach out to <a href="{{owner_email}}">our team</a>.
        </p>
        <br/>
        <br/>
      {% endblock contact %}
      </div>
  </div>
</div>






{% endblock container %}
