{% extends "base.html" %}
{% block container %}

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="row-fluid">
			{% if message %}
			<p>{{message}}</p>
			{% else %}
			<h3>Reset your password</h3>
			<p>Type your email address in the field below.</> 
			<p>Once you click on the "Reset" button, an email will be sent to you. The email will contain a temporary password that you can use to log into RecordTrac.</p>
			    <form class="" method="post" id="passwordForm" action="/reset_password">
			    	<fieldset>
			          <div class="row-fluid">
			            <!-- <h4>Add a note</h4> -->
			            <div class="control-group">
			              <div class="controls">
			              	<input type="email" class="input-large" name="email" placeholder="yourname@email.com">
			              </div>
			            </div>
			            <div class="control-group">
			              <div class="controls">
			                <button type="submit" class="btn btn-primary" value="Reset">Reset</button>
			              </div>
			            </div>
			          </div>
			        </fieldset>			        
			    </form>
			  {% endif %}
		    {% block contact %}
				</br>
				</br>
				 <p>
				  If a password reset still doesn't help, please reach out to <a href="mailto:langius@oaklandnet.com?">our team</a>.
				</p>
			{% endblock contact %}
    	</div>
	</div>
</div>






{% endblock container %}

