{% extends "base.html" %}
{% block container %}
<div class="offset1">
Let's help you get this routed to the right department!

            <form id="department" class="form-inline" method ="post" action="/">
              <!-- my form -->
              <div class="control-group">
                <div class="controls">
                  <input id="selectDocType" type="text" name="department" placeholder="What are you looking for?" data-provide="typeahead" autocomplete="off" required />
                  <button id="selectDocTypeButton" class="btn" type="submit"> <i class="icon-envelope"> </i> </button>
                </div>
              </div>
            </form>
</div>
{% endblock container %}

{% block custom_script_links %}
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock custom_script_links %}
