{% extends "base.html" %}

{% block container %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/staff_card.css') }}">
	{% set staff = ("User"| get_obj(uid)) %}
	<div class="row-fluid">
		<div class="span1 offset1">
	{% if staff.email %}
			{% set gravatar_url = staff.email | get_gravatar_url %}
			<div><img class="staffpic" src= "{{gravatar_url}}" /></div>
		</div>
		<div class="span3">
			<h3>{{staff.alias}}</h3>
        <div><span class="title">Agency: </span> <span class="entry">{{ staff.department_name() }}</span></div>
			<div><span class="title">Email:  </span><span class="entry"><a href="mailto:{{staff.email}}">{{staff.email}}</a></span></div>
			<div><span class="title">Phone:  </span><span class="entry">{{staff.phone or "N/A"}}</span></div>
	{% else %}
		<div> Staff ID provided does not exist. </div>
	{% endif %}
		</div>
	</div>

{% endblock container %}
