{% extends "base.html" %}
{% block container %}
<h2><strong>Update Your Password</strong></h2>
<p>Type your new password in the field below. Once you click on the update button, your password will change.</p>
    <form class="navbar-form pull-right" method="post" id="passwordForm" action="/update_password">
        <input type="password" class="input-large" name="password" placeholder="Your new password">
        <input type="submit" value="Update" class="btn"/>
    </form>
{% endblock container %}