{% extends "base.html" %}
{% block container %}

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="row-fluid">
			<h3>Update Your Password</h3>
			<p>Type your new password in the field below. Once you click on the update button, your password will change.</p>
			    <form class="" method="post" id="passwordForm" action="/update_password">
			    	<fieldset>
			          <div class="row-fluid">
			            <!-- <h4>Add a note</h4> -->
			            <div class="control-group">
			              <div class="controls">
			              	<input type="password" class="input-large" name="password" placeholder="Your new password">
			              </div>
			            </div>
			            <div class="control-group">
			              <div class="controls">
			                <button type="submit" class="btn btn-primary" value="Update">Update</button>
			              </div>
			            </div>
			          </div>
			        </fieldset>			        
			    </form>
    	</div>
	</div>
</div>
{% endblock container %}
