{% extends "base.html" %}

{% block container %}


<div class="row-fluid">
    <div class="span6 offset1	">
      <div id="responses-viz"></div>
    </div>

</div>

<div class="row-fluid">
    <div class="span6 offset1	">
      <div id="responses-time-viz"></div>
    </div>

</div>

{% endblock container %}


{% block custom_script_links %}

	<script type="text/javascript">var viz_data_freq = {{viz_data_freq | safe}}</script>
	<script type="text/javascript">var viz_data_time = {{viz_data_time | safe}}</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/d3.v3.min.js') }}"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/responses_viz.js') }}"></script>

{% endblock custom_script_links %}