{% extends "base.html" %}
{% block content %}
<html>
<h1>How to Make a Public Records Request</h1>
<br>
<b>Why is the City of Oakland required to respond to my request?</b>
<p>
The California Public Records Act and Oakland’s Sunshine Ordinance gives you the right to access information and documents about the City of Oakland. The City must:
<ul>
<li>Help you locate the record</li>
<li>Allow you to view the records immediately during business hours</li>
<li>Give you a copy of the record within 10 business days</li>
</ul>
<p>
You will not get a response to your request on weekends or a state or federal holiday.  The City may ask for an additional 14 day extension if they have to sort through a large number of documents, retrieve the document from a facility outside of City Hall, consult with an organization outside of the City, or write a computer program to get data. 
</p>
<p>
The City may charge a small fee to cover printing costs if you request a physical copy of the document. 
</p>

<br>
<b>What type of information can I request?</b>
<p>
You can request records or information from any city department. The records can be documents, emails, videos, and photographs. 
</p>
<p>
Examples of requests include, but are not limited to the following:
<ul>
<li>Licenses for businesses located in the City of Oakland</li>
<li>Copies of resolutions and ordinances passed by City Council</li>  
<li>Contracts for those businesses and organizations doing work with the City</li> 
<li>Budget documents</li>
</ul>
</p>
<p>
Some information may be removed from the document to protect the privacy of individuals. 
</p>
<p>
The City is not able to provide you with a birth or death certificate, divorce records, or deeds to a property. Visit Alameda County’s Clerk-Recorder’s Office to obtain copies of these documents.
</p>



<br>
<b>How do I submit a request?</b>
<p>
You can submit a request in a variety of ways. You can submit your request online.  You can also call the Open Government Coordinator in the City Attorney’s office at (510) or submit a request in writing to the following address:
</p>
<p>
1 Frank Ogawa Plaza <br>
Oakland, CA 94612
</p>

<br>
<b>How can I receive the information?</b>
<p>
Most available records will be posted on this website.  If you want a hard copy of any of the documents or the record is too large to post online, you can pick them up at the City Clerk’s office on the first floor of City Hall (1 Frank Ogawa Plaza). 
</p>

<br>
<b>Can my request be rejected?</b>
<p> 
The City is prohibited from releasing some records to the public.  The types of records you are unable to obtain are listed below:
<ul> 
<li>Emails, letters, and any form of communications between a lawyer and the individual or organization they represent</li>
<li>Records related to an ongoing lawsuit</li>
<li>An individual’s employment or medical records</li>
<li>Investigative records for crimes committed</li>
<li>Draft notes and memos if a City employee would not normally keep copies of the drafts or if it is beneficial for the notes to remain private</li>
<li>Police incident reports, rap sheets, and arrest records</li>
</ul>
</p>
<p>
The City must tell you how why it will not release the record. If you are unsatisfied, you can file a complaint with the Public Ethics Commission. 
</p>
</html>
{% endblock content %}