<!-- This template is show all cases in the system. -->

{% extends "base.html" %}
{% block title %}All requests{% endblock title %}
{% block head %}

{% endblock %}
{% block content %}
<legend>All Requests</legend>
<div>
  <table cellpadding="0" cellspacing="0" border="0" id="allrequestTable" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Received</th>
        <th>Request</th>
        <th>Updated</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      {% for request in all_record_requests %}
        <tr>
          <td><a href="/request/{{request.id}}">{{ request.id }} </a></td>
          <td>{{ request.date_created | date }}</td>
          <td><a href="/request/{{request.id}}">{{ request.text }}</a></td>
          <td>{{ request.status_updated | date }} </td>
          <td>{{ request.current_owner }}</td>
        </tr>
      {% else %}
        
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}