<!-- This template is show all cases in the system. -->

{% extends "base.html" %}
{% block title %}All requests{% endblock title %}
{% block head %}

{% endblock %}
{% block content %}
<legend>All Requests</legend>
<div>
  <table id="allrequestTable" class="table table-striped tablesorter">
    <thead>
      <tr>
        <th>#</th>
        <th>Date Received</th>
        <th>Request</th>
        <th>Date Last Touched</th>
        <th>Owner</th>
        
      </tr>
    </thead>
    <tbody>
      {% for record in all_record_requests %}
        <tr>
          <td><a href="/request/{{record.id}}">{{ record.id }}</a></td>
          <td><a href="/request/{{record.id}}">[insert date submitted here] {{ initialdate }}</a></td>
          <td><a href="/request/{{record.id}}">{{ record }}</a></td>
          <td><a href="/request/{{record.id}}">[insert current date here] </a></td>
          <td><a href="/request/{{record.id}}">[insert owner here]</a></td>
        </tr>
      {% else %}
        
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}