<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-fileupload.css" rel="stylesheet" type="text/css">
    <link href="FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="#">Public Records Request Portal<small class="text-warning"><em> alpha</em></small></a>
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
        </div>
      </div>
    </div>
    <div id="container">{% block content %}{% endblock %}</div>
    <div id="footer" class="well">
      <p>Made by <a href="http://codeforamerica.org/2013-partners/oakland/">Code for America 2013 Fellows</a> - {% block date %}{% endblock %}</p>
      <p><a href="https://github.com/codeforamerica/public-records"><i class="icon-github"></i>Project info</a></p>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>