<!-- This template houses the baseline case information (request, documents, status, etc.) only. -->

{% extends "base.html" %}
{% block title %}Request{% endblock %}
{% block head %} {% endblock head %}
{% block body %}
<div class="row-fluid well">
    <div class="span12"> 
{% block status %}
    <div class="row-fluid">
      <div class="text-right">Routed {{date}} to </br> <span class="label label-info">{{owner.alias or owner.email}} </span> because {{ owner.reason }} 
      </div>
    </div>
{% endblock status %}
{% block content %}
      <div class="row-fluid">
        <div class="span8">

          <div class="row-fluid">
            <h4>Request</h4>
            <div class="span8">
                <p class="lead"> {{ text }} </p>
            </div>
          </div>

          <div class="row-fluid">
            <h4>Document(s) </h4>
            <div class="span8">
              <p>
                {% for record in records %}
                <a href="{{record.url}}">  {{record.description}}  <i class="icon-file-alt icon-3x">  </i></a> <br />
                {% endfor %}
              </p>
            </div>
          </div>

          <div class="row-fluid">
            <h4>Note(s) </h4>
            <div class="span8">
              <p>
                {% for note in notes %}
                 <p class="lead"> {{ note }} noted by {{note.owner_id | owner_name }}</p>
                {% endfor %}
              </p>
            </div>
          </div>

        </div>
      </div>
{% endblock content %}
  </div>
</div>
{% endblock body %}