<!-- This template houses the baseline case information (request, documents, status, etc.) only. -->

{% extends "base.html" %}
{% block title %}Request{% endblock %}
{% block head %} {% endblock head %}
{% block body %}
<div class="row-fluid well">
  <div> 
    {% block status %}
        <div class="row-fluid">
          <div class="text-right">Routed {{date}} to </br> <span class="label label-info">{{owner.alias or owner.email}} </span> because {{ owner.reason }} 
          </div>
        </div>
    {% endblock status %}

    {% block content %}
      <div class="row-fluid">
        <h4>Request</h4>
        <div class="span10">
            <p class="lead"> {{ text }} </p>
        </div>
      </div>
      <div class="row-fluid">
        <h4>Response</h4>
        
          {% if links %}
            <div class="span10">
              {% for link in links %}
                <div class="row-fluid response">
                  <div class="span2 text-center">
                    <i class="icon-link icon-3x">  </i></br>
                    <small> {{ time }} [May 4, 2013]</small> </br>
                  </div>
                  <div class="span10">
                    <p> <a href="{{record.url}}" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{record.url}}">  {{link.description}} </a> - <em>{{link.owner_id | owner_name }}</em></p>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% if records %}
            <div class="span10">
              {% for record in records %}
                <div class="row-fluid response">
                  <div class="span2 text-center">
                    <i class="icon-file-alt icon-3x">  </i></br>
                    <small> {{ time }} [May 4, 2013]</small> </br>
                  </div>
                  <div class="span10">
                    <p> <a href="{{record.url}}" rel="tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{record.url}}">  {{record.description}} </a> - <em>{{record.owner_id | owner_name }}</em></p>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% if notes %}
            <div class="span10">
              {% for note in notes %}
                <div class="row-fluid response">
                  <div class="span2 text-center">
                    <i class="icon-edit icon-3x">  </i> </br>
                    <small> {{ time }} [May 4, 2013]</small> </br>
                  </div>
                  <div class="span10">
                    <p> {{ note }} - <em>{{note.owner_id | owner_name }}</em></p>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        </div>
      </div>
    {% endblock content %}
    
  </div>
</div>
{% endblock body %}