{% extends "base.html" %}
{% block title %}Public records{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Public records</h1>
  <p class="important">
    Describe the record(s) you would like to obtain a copy of or view.<br></br>
    <i>By submitting your request through this website, the public will be able to view your letter to the City of Oakland. Don’t include personal information like your address, phone number, or social security number in your message.</i> 
  <form name="input" action="" method="post">
		Request: <input type="text" name="request_text">
		<input type="submit" value="Submit">
	</form>
{% endblock %}
