<!-- This template is for testing purposes. -->

{% extends "case.html" %}
{% block title %}Request {{ request_id }}{% endblock %}
{% block head %} {% endblock head %}

{% block status %} 
    <div class="row-fluid">

            <!-- popover -->
            <div class="btn-group pull-right">
              <a class="btn btn-info" data-placement="bottom" href="#" id="reroutePopover"> {{owner.alias or owner.email}} <span class="caret"></span> </a>
                <div id="reroutePopover-head" class="hide">Reassign to:</div>
                <div id="reroutePopover-content" class="hide">
                  <form class="form-inline" method ="post" action="">
                    <!-- my form -->
                    <input type="email" name="owner_email" class="input-small" placeholder="name@email.com" required />
                    <button class="btn" type="submit"><i class="icon-envelope"> </i> </button>
                  </form>
                </div>
            </div>

      </div>
{% endblock status %}

{% block content %}
{{ super() }}
{% endblock content %}

{% block actions %}
  <form name="input_doc" class="form-horizontal" id="submitRecord" method="post" action="/upload" autocomplete="on" enctype="multipart/form-data">
    <fieldset> 
      <div class="row-fluid">
        <div class="span4">
          <h4>Add a record</h4>
        </div>
        <div class="span8">

          <div class="control-group">
            <label class="control-label" for="inputSummary">Summary</label>
            <div class="controls">
              <input class="input-block-level" name="record_description" type="text" id="inputSummary" placeholder="Add a short explanation of what you are attaching." />
            </div>
          </div>
       
          <div class="control-group">
            <label class="control-label">Document</label>
            <div class="row-fluid">
              <div class="controls">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <input type="hidden" name="request_id" value="{{ request_id }}">
                  <div class="input-append">
                    <div class="uneditable-input span3">
                      <i class="icon-file fileupload-exists"></i> 
                      <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-file">
                      <span class="fileupload-new">Select file</span>
                      <span class="fileupload-exists">Change</span>
                      <input type="file" name="record">
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>

    <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
                    <button class="btn btn-primary fileupload-exists" type="submit">Attach</button>
                    <button class="btn btn-primary fileupload-new disabled" type="submit">Attach</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </fieldset>
  </form>

 <form name="input_url" class="form-horizontal" id="submitRecord" method="post" action="/upload" autocomplete="on">
    <fieldset> 
      <div class="row-fluid">
        <div class="span4">
          <h4>Add a link</h4>
        </div>
        <div class="span8">

          <div class="control-group">
            <label class="control-label" for="inputSummary">Summary</label>
            <div class="controls">
              <input class="input-block-level" name="record_description" type="text" id="linkSummary" placeholder="Add a short explanation of what can be found here." />
              <input type="hidden" name="request_id" value="{{ request_id }}">
            </div>
          </div>
       
          <div class="control-group">
            <label class="control-label">Link</label>
            <div class="row-fluid">
              <div class="controls">
                <input name="record_url" type="url" id="inputUrl" placeholder="Copy and paste link here" required/>
                <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
                <button class="btn btn-primary" type="submit">Attach</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </fieldset>
  </form>



  <form name="close" class="form-horizontal" id="closeRecord" method="post" action="/close" enctype="multipart/form-data">
    <input type="hidden" name="request_id" value="{{ request_id }}"/>
    <input type="text" name="reason" placeholder="Say why."/>
    <fieldset> 

      <div class="row-fluid">
        <div class="span4">
          <h4>Close this request</h4>
        </div>
        <div class="span8">
          <div class="control-group">
            <div class="controls">

              <button type="submit" class="btn btn-inverse">Close</button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
{% endblock actions %}