<!-- This template is for testing purposes. -->

{% extends "case.html" %}
{% block title %}Request {{ request_id }}{% endblock %}
{% block head %} {% endblock head %}

{% block content %}
  {{ super() }}
  {% block status %} 
    <div class="row-fluid">

        <div class="span4">
          <form class="form-inline"> 
            <label class="control-label" for="reassign_email">Reassign to:</label>                 
            <div class="input-append">
               <input name="reassign_email" class="span8" id="appendedInputButton" type="email" placeholder="name@email.com" required />
              <button class="btn" type="submit"><i class="icon-envelope"> </i> </button>
            </div>
          </form>
        </div>

        <div class="span8">
          <div class="text-right">Routed {{date}}  to  <span class="label label-info">{{owner_email}} </span>

            <!-- dropdown markup -->
            <div class="btn-group">
              <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                {{owner_email}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                <li>Reassign to:</li>
                <li><input name="reassign_email" class="span8" id="appendedInputButton" type="email" placeholder="name@email.com" required />
                <button class="btn" type="submit"><i class="icon-envelope"> </i> </button></li>
              </ul>
            </div> 

            <!-- popover markup -->
            <div>
              <a class="btn btn-info" data-toggle="popover" href="#" title data-content='<form><input type="email" placeholder="name@email.com" required />
                <button class="btn" type="submit"><i class="icon-envelope"> </i> </button></form>' data-original-title='Reassign to:'>
                {{owner_email}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                <li>Reassign to:</li>
                <li><input name="reassign_email" class="span8" id="appendedInputButton" type="email" placeholder="name@email.com" required />
                <button class="btn" type="submit"><i class="icon-envelope"> </i> </button></li>
              </ul>
            </div> 

          </div>
        </div>
      </div>
  {% endblock status %}
{% endblock content %}

{% block actions %}
  <form name="input" class="form-horizontal" id="submitRecord" method="post" action="/upload" autocomplete="on" enctype="multipart/form-data">
    <fieldset> 
      <div class="row-fluid">
        <div class="span4">
          <h4>Add a record</h4>
        </div>
        <div class="span8">

          <div class="control-group">
            <label class="control-label" for="inputSummary">Summary</label>
            <div class="controls">
              <input class="input-block-level" name="record_description" type="text" id="inputSummary" placeholder="Add a short explanation of what you are attaching." />
            </div>
          </div>
       
          <div class="control-group">
            <label class="control-label">Document</label>
            <div class="row-fluid">
              <div class="controls">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <input type="hidden" name="request_id" value="{{ request_id }}">
                  <div class="input-append">
                    <div class="uneditable-input span3">
                      <i class="icon-file fileupload-exists"></i> 
                      <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-file">
                      <span class="fileupload-new">Select file</span>
                      <span class="fileupload-exists">Change</span>
                      <input type="file" name="record">
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>

    <!-- need to clean this up with jquery: needs to switch from being disabled when no file exists to being enabled when a file exists -->
                    <button class="btn btn-primary fileupload-exists" type="submit">Attach</button>
                    <button class="btn btn-primary fileupload-new disabled" type="submit">Attach</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </fieldset>
  </form>

  <form name="close" class="form-horizontal" id="closeRecord" method="post" action="/close" enctype="multipart/form-data">
    <input type="hidden" name="request_id" value="{{ request_id }}">
    <fieldset> 

      <div class="row-fluid">
        <div class="span4">
          <h4>Close this request</h4>
        </div>
        <div class="span8">
          <div class="control-group">
            <div class="controls">

              <button type="submit" class="btn btn-inverse">Close</button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
{% endblock actions %}