<!-- This template extends the baseline case information but shows a record as closed. -->
<!-- This template should be eventually updated so that status/owner info is a consistent block between "case" and "closed". -->

{% extends "case.html" %}
{% block title %}Request {{ request_id }}{% endblock %}
{% block head %} {% endblock head %}

{% block content %}
  {% block status %}
  
      <div class="row-fluid">
        <div class="text-right">
          <span class="label label-info">Closed {{date_updated}} by {{owner_email}} </span>
        </div>
      </div>
      
  {% endblock status %}
   {{ super() }}
{% endblock content %}